---
title: Changing the Port Used by Anti-Virus for VMware Tanzu with an Existing Mirror
owner: Platform Security & Compliance Team
---
<strong><%= modified_date %></strong>

This topic tells you how to change the port used by <%= vars.product_full %> and an existing mirror.

If you are using <%= vars.product_full_mirror %>,
then see [Changing the Port Used by <%= vars.product_short %> and <%= vars.product_short_mirror %>](./changing-ports.html) instead of this topic.

If you are upgrading from <%= vars.product_short %> v2.0 and you use an existing mirror or want to use an existing mirror,
you might need to follow the procedure in this topic.
For more information about whether to follow this procedure, see [Configuring the Mirror Port](upgrade.html#configure-mirror).

## <a id="change-port"></a> Overview

The port used by <%= vars.product_short %> and the existing mirror must be the same.
If the port number configured in both is not the same,
<%= vars.product_short %> database updates and deployments fail.

To change the port used by <%= vars.product_short %> and an existing mirror you must:

1. [Change the Port in the <%= vars.product_short %> Tile](#change-antivirus).
1. [Uninstall the <%= vars.product_short_mirror %> Tile](#uninstall-mirror) if you have it deployed.

## <a id="change-antivirus"></a> Change the Port in the <%= vars.product_short %> Tile

To change the port number in the <%= vars.product_short %> tile:

1. Navigate to the Ops Manager Installation Dashboard and click the **<%=vars.product_full%>** tile.
1. Click **Anti-Virus Configuration**.
1. Under **Mirror for Automatic Database Updates**, select one of the following:
   + **Existing Mirror**
   + **Existing Mirror with TLS** if the mirror uses TLS to communicate with the <%= vars.product_short %> tile.

1. Configure **Mirror for Automatic Database Updates**.<br>
Use the **Existing Mirror** or **Existing Mirror with TLS** information below.

    - For **Existing Mirror**:

        <img src="./images/configure-mirror-existing.png"
        alt="Screenshot of the 'Mirror for Automatic Database Updates' section with Existing Mirror
        button selected. The 'Comma separated list of mirror host names or IPs' field is exposed.">
        <table class="nice">
          <col width="25%">
          <col width="75%">
          <th>Field</th>
          <th>Description</th>
          <tr>
            <td><strong>Existing Mirror</strong></td>
            <td>Select this to use an existing mirror without TLS.</td>
          </tr>
          <tr>
            <td><strong>Comma separated list of mirror host names or IP addresses</strong></td>
            <td>Enter a list of mirror host names or IP addresses.<br>
              For example, <code>10.0.4.5,10.0.4.6</code>.</td>
          </tr>
        </table>

    - For **Existing Mirror with TLS**:

        <img src="./images/configure-mirror-existing-tls.png"
        alt="Screenshot of the 'Mirror for Automatic Database Updates' section with the 'Existing Mirror
        with TLS' button selected. The three fields exposed are described below.">
        <table class="nice">
          <col width="25%">
          <col width="75%">
          <tr>
            <th>Field</th>
            <th>Description</th>
          </tr>
          <tr>
            <td><strong>Existing Mirror with TLS</strong></td>
            <td>Select this to use an existing mirror with TLS.</td>
          </tr>
          <tr>
            <td>
            <strong>Mirror host name without leading https://</strong></td>
            <td>Enter the host name or IP address of your existing mirror.<br>
              For example, <code>my-anti-virus-mirror.s3.example.com</code> or
              <code>10.0.4.5</code>.
              Verify that your existing mirror server uses the correct
              certificate for the host name or IP address.
            </td>
          </tr>
          <tr>
            <td><strong>Mirror Port</strong></td>
            <td>Enter the port used by your existing mirror.<br>For example, <code>443</code>.</td>
          </tr>
          <tr>
            <td><strong>Mirror CA Certificate</strong></td>
            <td>
              Enter the CA certificate used with your existing mirror.<br>
              For example:

              <pre class="terminal">
        -----BEGIN CERTIFICATE-----
        MIIEYzCCA0ugAwIBAgIQAYL4CY6i5ia5GjsnhB+5rzANBgkqhki
        ...
        upcHi9nzBhDFKdT3uhaQqNBU4UtJx5g=
        -----END CERTIFICATE-----
              </pre>
            </td>
          </tr>
        </table>

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Review Pending Changes**.

1. Ensure all the products are selected.

1. Click **Apply Changes**.

## <a id="uninstall-mirror"></a> Uninstall the <%= vars.product_short_mirror %> Tile

If you are currently using <%= vars.product_short_mirror %>
and want to transition to using an existing mirror,
VMware recommends that you uninstall your <%= vars.product_short_mirror %> tile.

To uninstall the <%= vars.product_short_mirror %> tile:

1. Navigate to Ops Manager Installation Dashboard and
click the trash icon on the **<%= vars.product_short_mirror %>** tile.
1. In the **Delete Product** dialog box that appears, click **Confirm**.
1. Click **Review Pending Changes**.
1. Ensure that only **<%= vars.product_short_mirror %>** is selected.
1. Click **Apply Changes**.
