---
title: Changing the Port Used by Anti-Virus with an Existing Mirror
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to change the port used by <%= vars.product_full %> and an existing mirror.

If you are using <%= vars.product_full_mirror %>,
then see [Changing the Port Used by <%= vars.product_short %> and <%= vars.product_short_mirror %>](./changing-ports.html) instead of this topic.

If you are upgrading from <%= vars.product_short %> v2.0 and you use an existing mirror or want to use an existing mirror,
you might need to do the procedure in this topic.
For more information about whether to follow this procedure, see [Configuring the Mirror Port](upgrade.html#configure-mirror).

## <a id="change-port"></a> Overview

The port used by <%= vars.product_short %> and the existing mirror must be the same.
If the port number configured in both is not the same,
<%= vars.product_short %> database updates and deployments fail.

To change the port used by <%= vars.product_short %> and an existing mirror you must:

1. [Change the Port in the <%= vars.product_short %> Tile](#change-antivirus)
1. [Uninstall the <%= vars.product_short_mirror %> Tile](#uninstall-mirror) if you have it deployed.

## <a id="change-antivirus"></a> Change the Port in the <%= vars.product_short %> Tile

To change the port number in the <%= vars.product_short %> tile:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and click the **<%=vars.product_full%>** tile.
1. Click **Anti-Virus Configuration**.
1. Under **Mirror for Automatic Database Updates**, select one of the following:
   + **Existing Mirror**
   + **Existing Mirror with TLS** if the mirror uses TLS to communicate with the <%= vars.product_short %> tile.

1. If your existing mirror does not use TLS, complete the field **Comma separated list of mirror hostnames or IPs**.
  For example, `10.0.4.5,10.0.4.6`

    ![selecting the existing mirror button exposes the Comma separated list of mirror hostnames or IPs field](existing-mirror.png)

1. If your existing mirror uses TLS, complete the fields:

     ![selecting the existing mirror with tls button exposes three fields](existing-mirror-with-tls.png)

    <table class="nice">
    <col width="30%">
    <col width="70%">
        <tr>
            <th>Field</th>
            <th>Example</th>
        </tr>
        <tr>
            <td>
                <strong>Mirror hostname without leading https://</strong>
            </td>
            <td>
              Enter the hostname or IP address for your existing mirror.<br>
              For example: <code>pivotal-anti-virus-mirror.s3.amazonaws.com</code> or <code>10.0.4.5</code>
              <p class="note">
                <strong>Note: </strong>
                Ensure that your existing mirror server is using the correct certificate
                for the hostname or IP.
              </p>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Mirror Port</strong>
            </td>
            <td>
              Enter the port used by your existing mirror.<br>
              For example: <code>443</code>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Mirror CA Certificate</strong>
            </td>
            <td>
              Enter the CA certificate used with your existing mirror.<br>
              For example:
                <code>
                  -----BEGIN CERTIFICATE-----<br>
                  MIIEYzCCA0ugAwIBAgIQAYL4CY6i5ia5GjsnhB+5rzANBgkqhki<br>
                  ...<br>
                  upcHi9nzBhDFKdT3uhaQqNBU4UtJx5g=<br>
                  -----END CERTIFICATE-----
                </code>
            </td>
        </tr>
      </table>


1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard and click **Review Pending Changes**.

1. Ensure all the products are selected.

1. Click **Apply Changes**.

## <a id="uninstall-mirror"></a> Uninstall the <%= vars.product_short_mirror %> Tile

If you are currently using <%= vars.product_short_mirror %>
and want to transition to using an existing mirror,
Pivotal recommends that you uninstall your <%= vars.product_short_mirror %> tile.

To uninstall the <%= vars.product_short_mirror %> tile:

1. Navigate to <%= vars.ops_manager %> Installation Dashboard and
click the trash icon on the **<%= vars.product_short_mirror %>** tile.
1. In the **Delete Product** dialog box that appears, click **Confirm**.
1. Click **Review Pending Changes**.
1. Ensure that only **<%= vars.product_short_mirror %>** is selected.
1. Click **Apply Changes**.
