---
title: Changing the Port Used by Anti-Virus and Anti-Virus Mirror
owner: Platform Security & Compliance Team
---
<strong><%= modified_date %></strong>

This topic describes how to change the port used by <%= vars.product_full %> and <%= vars.product_full_mirror %>.

If you are upgrading from <%= vars.product_short %> v2.0 and you use <%= vars.product_full_mirror %>,
you might need to follow the procedure in this topic.
For more information about whether to follow this procedure, see [Configuring the Mirror Port](upgrade.html#configure-mirror).

<p class="note"><strong>Note: </strong>
If you are not using the <%= vars.product_short_mirror %> tile, you can configure
your existing mirror by specifying a <code>PORT</code>, <code>HOST</code>, or
<code>HOST:PORT</code> in the <%= vars.product_short %> tile.
For more information, see <a href="./install.html#configure">Configure <%= vars.product_short %></a>.
</p>


## <a id="overview"></a> Overview

<%= vars.product_short_mirror %> uses mutual TLS (mTLS).
The port used by <%= vars.product_short_mirror %> and <%= vars.product_short %> must be the same.
If the port number configured in both tiles is not the same,
<%= vars.product_short %> database updates and deployments fail.

To change the port used by <%= vars.product_short %> and <%= vars.product_short_mirror %> you must:

1. [Change the Port in the <%= vars.product_short_mirror %> Tile](#change-mirror)
1. [Change the Port in the <%= vars.product_short %> Tile](#change-antivirus)
1. [Exclude <%= vars.product_short_mirror %> during Apply Changes](#exclude-mirror)
1. [Remove the Exclusion](#remove-exclude)

## <a id="change-mirror"></a> Change the Port in the <%= vars.product_short_mirror %> Tile

To change the port number in the <%= vars.product_short_mirror %> tile:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and click the **<%=vars.product_full_mirror%>** tile.
1. Click **Anti-Virus Mirror Configuration**.
1. Enter a port number into **Anti-Virus Mirror Port**. The default value is `6501`.

    ![Configure Anti-Virus Mirror Port](mirror-port-mirror.png)
1. Return to the <%= vars.ops_manager %> Installation Dashboard.

## <a id="change-antivirus"></a> Change the Port in the <%= vars.product_short %> Tile

To change the port number in the <%= vars.product_short %> tile:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and click the **<%=vars.product_full%>** tile.
1. Click **Anti-Virus Configuration**.
1. Under **Mirror for Automatic Database Updates**, ensure that **Deployed mirror from the <%=vars.product_full_mirror%> Tile** is selected.
1. Enter the same port number you entered in the above step into **Anti-Virus Mirror Port**.

    ![Configure Anti-Virus Mirror Mirror Port](mirror-port.png)


## <a id="exclude-mirror"></a> Exclude <%= vars.product_short_mirror %> during Apply Changes

When changing ports for the <%= vars.product_short %> and <%= vars.product_short_mirror %> tiles,
you need to exclude the `antivirus-mirror` instance group from the <%= vars.product_short %>
deployment during the first **Apply Changes** for the <%= vars.product_short %> port.
Excluding the `antivirus-mirror` instance group ensures that <%= vars.product_short %> is not deployed on the
mirror while the ports are being changed.

After the first Apply Changes is complete, you remove the exclusion and
**Apply Changes** again, this time for the entire foundation.

To exclude the instance group and complete the port changes:

1. In the **<%=vars.product_full%>** tile, click **Anti-Virus Configuration**.
1. Exclude the `antivirus-mirror` instance group by adding it to
**List of instance group names that will be excluded from deployment**.

    ![Exclude Anti-Virus Mirror](exclude-mirror.png)

1. Return to the <%= vars.ops_manager %> Installation Dashboard and click **Review Pending Changes**.
1. Unselect all products except **BOSH Director**, **<%= vars.product_short %>**, and **<%= vars.product_short_mirror %>**.
1. Click **Apply Changes**.

## <a id="remove-exclude"></a> Remove the Exclusion

To remove the `antivirus-mirror` exclusion:

1. When the **Apply Changes** is complete, return to the **<%=vars.product_full%>** tile.
1. Remove the `antivirus-mirror` exclusion added above.
1. Return to the <%= vars.ops_manager %> Installation Dashboard and click **Review Pending Changes**.
1. Ensure all product are selected.
1. Click **Apply Changes**.
