---
title: Changing the Port Used by Anti-Virus Mirror and Anti-Virus
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to change the port used by <%= vars.product_full_mirror %> and <%= vars.product_full %>.


## <a id="change-port"></a> Change the Port

<%= vars.product_short_mirror %> uses mutual TLS. Because of this, the port used by <%= vars.product_short_mirror %> and <%= vars.product_short %> must be the same. If the port number configured in both tiles is not the same, <%= vars.product_short %> database updates and deployments fail.

To change the port number:

1. Navigate to the Ops Manager Installation Dashboard and click the **<%=vars.product_full_mirror%>** tile.
1. Click **Anti-Virus Mirror Configuration**.
1. Enter a port number into **Anti-Virus Mirror Port**.
  ![Configure Anti-Virus Mirror Port](mirror-port-mirror.png)
1. Return to the Ops Manager Installation Dashboard and click the **<%= vars.product_full %>** tile.
1. Click **Anti-Virus Configuration**.
1. Under **Mirror for Automatic Database Updates**, ensure that **Deployed mirror from the <%=vars.product_full_mirror%> Tile** is selected.
1. Enter the same port number you enter into **<%=vars.product_full_mirror%>** above into **Anti-Virus Mirror Port**.
  ![Configure Anti-Virus Mirror Mirror Port](mirror-port.png)
1. Return to the Ops Manager Installation Dashboard and click **Review Pending Changes**.
1. Unselect all products except **BOSH Director**, **<%=vars.product_short_mirror%>**, and **<%= vars.product_short %>**.
1. Click **Apply Changes**.
1. When **Apply Changes** finishes, return to **Review Pending Changes**.
1. Ensure all products are selected and click **Apply Changes**.
