---
title: Changing the Port Used by Anti-Virus with an Existing Mirror
owner: Platform Security & Compliance Team
---
<strong><%= modified_date %></strong>

This topic describes how to change the port used by <%= vars.product_full %> and an existing mirror.

If you are using <%= vars.product_full_mirror %>,
then see [Changing the Port Used by <%= vars.product_short %> and <%= vars.product_short_mirror %>](./changing-ports.html) instead of this topic.

If you are upgrading from <%= vars.product_short %> v2.0 and you use an existing mirror or want to use an existing mirror,
you might need to follow the procedure in this topic.
For more information about whether to follow this procedure, see [Configuring the Mirror Port](upgrade.html#configure-mirror).

## <a id="change-port"></a> Overview

The port used by <%= vars.product_short %> and the existing mirror must be the same.
If the port number configured in both is not the same,
<%= vars.product_short %> database updates and deployments fail.

To change the port used by <%= vars.product_short %> and an existing mirror you must:

1. [Change the Port in the <%= vars.product_short %> Tile](#change-antivirus)
1. [Uninstall the <%= vars.product_short_mirror %> Tile](#uninstall-mirror) if you have it deployed.

## <a id="change-antivirus"></a> Change the Port in the <%= vars.product_short %> Tile

To change the port number in the <%= vars.product_short %> tile:

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and click the **<%=vars.product_full%>** tile.
1. Click **Anti-Virus Configuration**.
1. Under **Mirror for Automatic Database Updates**, select one of the following:
   + **Existing Mirror**
   + **Existing Mirror with TLS** if the mirror uses TLS to communicate with the <%= vars.product_short %> tile.

1. Configure **Mirror for Automatic Database Updates**.<br>
The tabs below expand to show instructions for each type of mirror.<br><br>

    <style>
    .btn.btn-default,
    .tab .tablinks {
       color: #2185c5;
    }
    .tab {
       overflow: hidden;
       border: 1px solid #ccc;
       background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
       background-color: inherit;
       float: left;
       border: none;
       outline: none;
       cursor: pointer;
       padding: ;
       transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
       background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
       background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
       display: none;
       padding: 6px 12px;
       border: 1px solid #ccc;
       border-top: none;
    }
    </style>
    <script>
    function openDocs(evt, docsName) {
       // Declare all variables
       var i, tabcontent, tablinks;
       // Get all elements with class="tabcontent" and hide them
       tabcontent = document.getElementsByClassName("tabcontent");
       for (i = 0; i < tabcontent.length; i++) {
           tabcontent[i].style.display = "none";
       }
       // Get all elements with class="tablinks" and remove the class "active"
       tablinks = document.getElementsByClassName("tablinks");
       for (i = 0; i < tablinks.length; i++) {
           tablinks[i].className = tablinks[i].className.replace(" active", "");
       }
       // Show the current tab, and add an "active" class to the button that opened the tab
       document.getElementById(docsName).style.display = "block";
       evt.currentTarget.className += " active";
    }
    </script>

    <div class="tab">
     <!- Tab headers and links ->
     <button class="tablinks active" onclick="openDocs(event, 'tab1')">Existing Mirror</button>
     <button class="tablinks" onclick="openDocs(event, 'tab2')">Existing Mirror with TLS</button>
    </div>

    <div id="tab1" class="tabcontent" style="display:block">

     <img src="./images/configure-mirror-existing.png"<%# Images require alt text that describes the image in detail. %>
     alt="Selecting the existing mirror button exposes the Comma separated
     list of mirror hostnames or IPs field">

     <table class="nice">
       <col width="25%">
       <col width="75%">
       <th>Field</th>
       <th>Description</th>
       <tr>
          <td><strong>Existing Mirror</strong>
          </td>
          <td>Select this to use an existing mirror without TLS.
          </td>
      </tr>
       <tr>
         <td><strong>Comma separated list of mirror hostnames or IP addresses</strong></td>
         <td>
           Enter a list of mirror hostnames or IP addresses.
           For example, <code>10.0.4.5,10.0.4.6</code>.
         </td>
       </tr>
     </table>
    </div>
    <div id="tab2" class="tabcontent">

     <img src="./images/configure-mirror-existing-tls.png" alt="Selecting the existing mirror with tls button exposes three fields">

     <table class="nice">
       <col width="25%">
       <col width="75%">
       <tr>
       <th>Field</th>
       <th>Description</th>
       </tr>
       <tr>
          <td><strong>Existing Mirror with TLS</strong>
          </td>
          <td>Select this to use an existing mirror with TLS.
          </td>
      </tr>
       <tr>
         <td>
             <strong>Mirror hostname without leading https://</strong>
         </td>
         <td>
           Enter the hostname or IP address of your existing mirror.<br>
           For example, <code>pivotal-anti-virus-mirror.s3.amazonaws.com</code> or <code>10.0.4.5</code>.
           <p class="note">
             <strong>Note: </strong>
             Ensure that your existing mirror server is using the correct certificate
             for the hostname or IP address.
           </p>
         </td>
       </tr>
       <tr>
           <td>
               <strong>Mirror Port</strong>
           </td>
           <td>
             Enter the port used by your existing mirror.<br>
             For example, <code>443</code>.
           </td>
       </tr>
       <tr>
           <td>
               <strong>Mirror CA Certificate</strong>
           </td>
           <td>
             Enter the CA certificate used with your existing mirror.<br>
             For example:
             <pre>
-----BEGIN CERTIFICATE-----
MIIEYzCCA0ugAwIBAgIQAYL4CY6i5ia5GjsnhB+5rzANBgkqhki
...
upcHi9nzBhDFKdT3uhaQqNBU4UtJx5g=
-----END CERTIFICATE-----</pre>
           </td>
       </tr>
     </table>
    </div>


1. Click **Save**.

1. Return to the <%= vars.ops_manager %> Installation Dashboard and click **Review Pending Changes**.

1. Ensure all the products are selected.

1. Click **Apply Changes**.

## <a id="uninstall-mirror"></a> Uninstall the <%= vars.product_short_mirror %> Tile

If you are currently using <%= vars.product_short_mirror %>
and want to transition to using an existing mirror,
VMware recommends that you uninstall your <%= vars.product_short_mirror %> tile.

To uninstall the <%= vars.product_short_mirror %> tile:

1. Navigate to <%= vars.ops_manager %> Installation Dashboard and
click the trash icon on the **<%= vars.product_short_mirror %>** tile.
1. In the **Delete Product** dialog box that appears, click **Confirm**.
1. Click **Review Pending Changes**.
1. Ensure that only **<%= vars.product_short_mirror %>** is selected.
1. Click **Apply Changes**.
