---
title: Configuring Hardware Enforcement
owner: Platform Security & Compliance Team
---

<strong><%= modified_date %></strong>

This topic describes how to configure Hardware Enforcement for <%= vars.product_full %>.

##<a id="overview"></a>Overview

<%= vars.product_short %> v3.0.1 bundles ClamAV v0.101.5 to patch
[CVE-2019-15961](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-15961).
This version of ClamAV has increased resource consumption to the point where the default "recommended" VM
types for your foundation might no longer be large enough.

VMs of the type `micro` with 1&nbsp;CPU core and 1&nbsp;GB of RAM might become unresponsive for more than
45 seconds when under load.
To ensure uptime for workloads, VMware recommends that you increase existing VM sizes by
1&nbsp;CPU core and 1&nbsp;GB of RAM in addition to the default.

##<a id="hardware-enforcement"></a>Hardware Enforcement

<%= vars.product_short %> v3.0.1 introduces the Hardware Enforcement feature to
further reduce the chance of VMs becoming unresponsive after installation.

When enabled, an additional check during pre-start verifies whether each VM has 2&nbsp;CPU cores and 2&nbsp;GB of RAM.
If any VMs fail to meet these requirements, the deployment fails with an error message outlining
which VM it failed on.

For example:

<pre class="terminal">
Hardware Enforcement is enabled on diego&#95;cell
With override instance groups of [diego&#95;cell, some&#95;other&#95;instance&#95;group]
Please increase the size of the VM to have at least 2 core and 2,000,000 KB of memory or add antivirus&#95;1 to the exclusion list
Detected 1 cpu(s) and 3781460 KB of memory
</pre>

After you verify and adjust the size of each VM, you can re-apply your changes.

##<a id="review-vms"></a>Review VM Configurations Before Installing <%= vars.product_short %>

Before installing the <%= vars.product_short %> v3.0.1 tile, VMware recommends that you review the
resource configurations of your VMs.
The recommended overall installation process is as follows:

1. Run `bosh vms --column=instance --column="vm type"` to see which VMs do not meet the minimum requirements.
These are typically `micro`, `small`, `small.disk`, `medium.mem` or an equivalent sized VM.

    <pre class="terminal">
    $ bosh vms --column=instance --column="vm type"
    Deployment 'cf-6914745231480fb25fc8'
    Instance                                                  VM Type
    backup&#95;restore/ecb614e7-5804-4c0d-8f1d-8d73f6717ba7       micro
    </pre>

    <p class="note">
    <strong>Note: </strong>This does not show errand VMs with a dedicated instance group.
    </p>
1. Make the necessary VM size adjustments for each undersized VM in the **Resource Config** tab of the tile.

1. Verify the sizes of errand VMs with a dedicated instance group.
  To do this, run `bosh instances --column=instance  --column="process state" --column="ips"`.
  Errand VMs will appear in the output with `Process State` and `IPs` set to `-`.

    <pre class="terminal">
    $ bosh instances --column=instance --column="process state" --column="ips" <br>
    Using environment '10.0.0.5' as client 'ops&#95;manager'

    Deployment 'service-instance&#95;ad4cf557-2292-4f2b-91f2-b5869091fba8'
    Instance                                           Process State  IPs
    apply-addons/8a502935-a124-4a8a-805e-295d59c86dc4  -              -
    master/9ac884b4-dfb0-4069-b7f8-89f1e2b2c2e2        running        10.0.11.5
    worker/6aa6acf0-6b9c-4418-95b2-fbabb7a7643f        running        10.0.11.7
    worker/c154497f-5e14-46ec-9545-8fa35bb40951        running        10.0.11.8
    worker/cd420295-c948-4254-945a-4ca0a069656d        running        10.0.11.6
    5 instances
    Succeeded
    </pre>

1. Make the necessary VM size adjustments for each undersized VM:
    * For <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) and service tiles,
    look under the **Resource Config** tab
    * For service instances, deployments name with format `service-instance_GUID`.
    Look under each **Plan** that is active and adjust VM Type.
    For example, for <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>) set the **Errand VM Type**
    field under each active **Plan**.

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**.

1. Ensure all products are selected and click **Apply Changes**.

##<a id="install-tiles"></a>Install Tiles

After the **Apply Changes** is complete, you can continue to install your tiles:

1. Install the <%= vars.product_short_mirror %> tile if required.
1. Install <%= vars.product_short %> v3.0.1.
1. Ensure that the **Hardware Enforcement in Pre-start (Linux)** feature is set to **Enable check**
  in the <%= vars.product_short %> tile.
1. Complete any other configurations needed.

##<a id="troubleshoot-failure"></a>Troubleshoot Deployment Failure

If the deployment fails:

1. Look at the error message to review which VM failed the hardware enforcement test.
1. Make size adjustments in the corresponding service tile.
1. Return to the Ops Manager Installation Dashboard.
1. Click **Review Pending Changes**.
1. Ensure all products are selected and click **Apply Changes**.

This **Apply Changes** includes both the VM size change, and continues the installation of <%= vars.product_short %>.
During this process, there is a combination of VMs with the new and old versions of the <%= vars.product_short %> tile.
After a successful **Apply Changes**, all VMs have the latest version of the tile.
