---
title: Pivotal Anti-Virus
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> <%= vars.product_full %> replaces an earlier product called
ClamAV Add-on for Pivotal Cloud Foundry (PCF).
To learn how <%= vars.product_full %> differs from ClamAV Add-on for PCF, see the feature list
in <a href="release-notes.html#2-0-0">Release Notes</a>.
</p>

<%= partial '../../antivirus/partials/pcf-name-change' %>

This topic is an overview of <%= vars.product_full %>.

## <a id="about-antivirus"></a>About <%= vars.product_short %>

<%= vars.product_short %> might be necessary for regulatory purposes if your compliance auditor
requires antivirus protection within your <%= vars.platform_name %> environment.

For example, auditors sometimes expect that antivirus protection is present in an
environment that must comply with standards such as the Payment Card Industry Data
Security Standard (PCI DSS) or Health Insurance Portability and Accountability Act (HIPAA).

<%= vars.product_full %> complies with the U.S. Department of Defense STIG rule SV-92701r1_rule,
version UBTU-16-030900, which belongs to group SRG-OS-000480-GPOS-00227.

## <a id='snapshot'></a> Product Snapshot for <%= vars.product_full %>

The following table provides version and version-support information about <%= vars.product_full %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>2.0.13</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 18, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Open Source ClamAV 0.101.4</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager %> versions</td>
        <td>2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible Enterprise Pivotal Container Service (Enterprise PKS) versions</td>
        <td>1.2, 1.3, 1.4, and 1.5</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu (Xenial and Trusty) and Windows (2019, 1803, and 2016)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>

## <a id='snapshot-mirror'></a> Product Snapshot for <%= vars.product_full_mirror %>

The following table provides version and version-support information about <%= vars.product_full_mirror %>.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>2.0.13</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>September 18, 2019</td>
    </tr>
    <tr>
        <td>Compatible <%= vars.ops_manager %> versions</td>
        <td>2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) versions</td>
        <td>2.4, 2.5, 2.6, and 2.7</td>
    </tr>
    <tr>
        <td>Compatible Enterprise Pivotal Container Service (Enterprise PKS) versions</td>
        <td>1.2, 1.3, and 1.4</td>
    </tr>
    <tr>
        <td>Compatible BOSH stemcells</td>
        <td>Ubuntu (Xenial and Trusty) and Windows (2019, 1803, and 2016)</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>vSphere, GCP, AWS, Azure, and OpenStack</td>
    </tr>
</table>


##<a id="features"></a> Features

<%= vars.product_full %> includes the following features:

  * Open-source ClamAV packaged as part of the tile for installation
  * A private <%= vars.product_short_mirror %> tile for deployment and providing VMs to the foundation:
    * <%= vars.product_short_mirror %> serves both air-gapped and non-air-gapped environments.
    * The <%= vars.product_short_mirror %> tile authenticates and validates publicly downloaded database definition files
      for added security.
  * Ability to scan VMs and containers for foundations with PAS and Enterprise PKS
  * Support for scheduled scans to reduce workload during peak operation hours
  * Whitelisting of known signatures
  * Configuration options that let you set CPU and memory usage limits on VMs of the foundation

##<a id="architecture"></a> <%= vars.product_short %> Architecture

The following sections provide some information and diagrams to help you understand
how <%= vars.product_full %> works.

###<a id="propagate"></a>How Virus Definitions Propagate to VMs

Virus definitions on the internal <%= vars.product_short_mirror %> update
automatically or manually depending on whether your <%= vars.product_platform %>
is on an online or air-gapped network, as described in [Update Virus Definitions](#update) above.
The automatic and manual processes store new virus definitions to the <%= vars.product_short_mirror %>
VM's database of unverified viruses as follows:

* **Automatic update**: The `freshclam` daemon process on the <%= vars.product_short_mirror %> VM downloads the virus definitions
and stores them in the internal mirror VM's unverified database.
* **Manual update**: The operator runs `bosh scp` to directly copy the virus definitions
to the internal mirror's database of unverified viruses.

From the unverified internal mirror database, virus definitions then propagate to BOSH VMs as follows:

1. The database verifier process on the <%= vars.product_short_mirror %> verifies
  the date, format, and integrity of the new virus definitions.
  - To verify integrity, the verifier checks bytecode signatures against signatures
    in the external ClamAV database, using the external database public key.
  - If verification fails or if the virus definitions are not new, the mirror VM generates an error.
    See [Virus Database Update Issues](./troubleshooting.html#updates).

1. The internal <%= vars.product_short_mirror %> VM saves verified virus definitions to its verified database
and serves them to the `freshclam` processes of BOSH VMs.

1. On each BOSH-managed VM:

  1. The `freshclam` daemon process regularly queries the internal <%= vars.product_short_mirror %> for new virus definitions.
      - You can configure the query frequency in the <%= vars.product_full %> tile >
  **ClamAV Configuration** > **Number of database checks per day** field.

  1. When `freshclam` retrieves new definitions, it:
      - Notifies the `clamd` daemon process that there are new definitions, and
      - Saves the virus definitions in the BOSH VM's own virus database.

  1. The `clamd` process loads the new virus definitions into active memory
  to enable fast scanning by the `clamscan` process.

The diagrams below illustrate how new virus definitions propagate
from an external ClamAV database to BOSH VMs, in online and air-gapped <%= vars.platform_name %> installations.

###<a id="propagate-online"></a>Online Network

This diagram illustrates how virus definitions propagate to BOSH VMs in an online network:

[//]: https://docs.google.com/presentation/d/1pBHK0dcE5y7rT4KnacqFDc6LuU8R3HiR9ApuvwY1uzA/edit
![Online (non-air-gapped) update process, following path of new virus data. External ClamAV database in cloud serves new virus data to freshclam running on local Anti-Virus Mirror. The local mirror runs it through the database verifier, also on Anti-Virus Mirror and then serves it to freshclam on all BOSH VMs. On each BOSH VM, freshclam notifies clamd that there are new definitions, and saves the definitions in the virus database. clamd then loads the new virus definitions from the database into its memory to enable fast scanning.](update-defs-online.png)

###<a id="propagate-airgap"></a>Air-Gapped Network

This diagram illustrates how virus definitions propagate to BOSH VMs in an air-gapped network:

[//]: https://docs.google.com/presentation/d/1pBHK0dcE5y7rT4KnacqFDc6LuU8R3HiR9ApuvwY1uzA/edit
![Air-gapped update process, following path of new virus data. Operator downloads virus data from External ClamAV database in cloud, then runs BOSH SCP to send it to freshclam running on local Anti-Virus Mirror. The local mirror runs it through the database verifier, also on ClamAV mirror, and then serves it to freshclam on all BOSH VMs. On each BOSH VM, freshclam notifies clamd that there are new definitions, and saves the definitions in the virus database. clamd then loads the new virus definitions from the database into its memory to enable fast scanning.](update-defs-airgap.png)
