---
title: Installing and Configuring Pivotal Anti-Virus
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

Before installing <%= vars.product_short %>, Pivotal recommends that you download
and install the <%= vars.product_full_mirror %> tile.
For more information about the <%= vars.product_short_mirror %> tile,
see [Installing and Configuring <%= vars.product_full_mirror %>](./install-mirror.html).

##<a id="prereqs"></a>Prerequisites

To install <%= vars.product_short %>, you must have:

* **A <%= vars.platform_name %> operator user account with admin rights**. For more information, see [Pivotal Platform Operators](https://docs.pivotal.io/platform/customizing/platform-operators.html).

* **<%= vars.ops_manager_full %> (<%= vars.ops_manager %>)**.
For compatible versions, see the [Product Snapshot](./index.html#snapshot).

* **At least 1&nbsp;GB of memory free on each VM**.
  <%= vars.product_short %> uses 610&nbsp;MB of memory.

* **An external mirror**. If you do not have an external mirror, Pivotal recommends that you install
  the <%= vars.product_short_mirror %>.
  For instructions, see [Installing and Configuring <%= vars.product_full_mirror %>](./install-mirror.html).

## <a id='install-addon'></a> Install <%= vars.product_short %>

Install the <%= vars.product_short %> tile on the <%= vars.ops_manager %> Installation Dashboard:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon).

1. Navigate to the <%= vars.ops_manager %> Installation Dashboard and select **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of <%= vars.product_short %>.
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_full %>** tile.

## <a id='configure'></a> Configure <%= vars.product_short %>
To configure <%= vars.product_short %>:

1. Select **Anti-Virus Configuration**.

1. Configure **Mirror for Automatic Database Updates**: <br>
The tabs below expand to show instructions for each type of mirror. <br><br>

    <style>
    .btn.btn-default,
    .tab .tablinks {
        color: #2185c5;
    }
    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
    }

    /* Style the buttons that are used to open the tab content */
    .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: ;
        transition: 0.3s;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
        background-color: #ddd;
    }

    /* Create an active/current tablink class */
    .tab button.active {
        background-color: #ccc;
    }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    </style>
    <script>
    function openDocs(evt, docsName) {
        // Declare all variables
        var i, tabcontent, tablinks;
        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(docsName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    </script>

    <div class="tab">
      <!- Tab headers and links ->
      <button class="tablinks active" onclick="openDocs(event, 'tab1')">Official mirror</button>
      <button class="tablinks" onclick="openDocs(event, 'tab2')">Deployed mirror</button>
      <button class="tablinks" onclick="openDocs(event, 'tab3')">Existing Mirror</button>
      <button class="tablinks" onclick="openDocs(event, 'tab4')">Existing Mirror with TLS</button>
    </div>

    <div id="tab1" class="tabcontent" style="display:block">

      <img src="./images/configure-mirror-official.png" alt="Configure Official mirror" width="550">

      <table class="nice">
        <col width="25%">
        <col width="75%">
        <th>Field</th>
        <th>Description</th>
        <tr>
          <td><strong>Official mirror</strong></td>
          <td>
            Select this to have the mirror fetch databases from database.clamav.net.
          </td>
        </tr>
      </table>
    </div>
    <div id="tab2" class="tabcontent">

      <img src="./images/configure-mirror-deployed.png" alt="Configure Deployed mirror from the Pivotal Anti-Virus Mirror tile" width="550">

      <table class="nice">
        <col width="25%">
        <col width="75%">
        <th>Field</th>
        <th>Description</th>
        <tr>
          <td><strong>Deployed mirror from the <%= vars.product_full_mirror %> Tile</strong></td>
          <td>
            Select this when using the <%= vars.product_full_mirror %> tile.<br><br>
            For more information, see <a href="./install-mirror.html">Installing and Configuring <%= vars.product_full_mirror %></a>.
          </td>
        </tr>
        <tr>
          <td><strong>Anti-Virus Mirror Port</strong></td>
          <td>Enter the port for Anti-Virus Mirror to use. The default value is <code>6501</code>.
            <p class="note"><strong>Note: </strong> <%= vars.product_short_mirror %> uses mutual TLS. This port must be the same port used in <strong>Anti-Virus Mirror Port</strong> of the <strong><%= vars.product_full_mirror %></strong> tile. If these ports are not the same, <%= vars.product_short %> database updates and deployments fail.
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div id="tab3" class="tabcontent">

      <img src="./images/configure-mirror-existing.png" alt="Configure Existing Mirror" width="550">

      <table class="nice">
        <col width="25%">
        <col width="75%">
        <th>Field</th>
        <th>Description</th>
        <tr>
          <td><strong>Existing Mirror</strong></td>
          <td>
            Select this to enter a list of hostnames or IPs of mirrors.
          </td>
        </tr>
        <tr>
          <td><strong>Anti-Virus Mirror Port</strong></td>
          <td>Enter the port for Anti-Virus Mirror to use. The default value is <code>6501</code>.
            <p class="note"><strong>Note: </strong> <%= vars.product_short_mirror %> uses mutual TLS. This port must be the same port used in <strong>Anti-Virus Mirror Port</strong> of the <strong><%= vars.product_full_mirror %></strong> tile. If these ports are not the same, <%= vars.product_short %> database updates and deployments fail.
            </p>
          </td>
        </tr>
      </table>
    </div>
    <div id="tab4" class="tabcontent">

      <img src="./images/configure-mirror-existing-tls.png" alt="Configure Existing Mirror with TLS" width="550">

      <table class="nice">
        <col width="25%">
        <col width="75%">
        <th>Field</th>
        <th>Description</th>
        <tr>
          <td><strong>Existing Mirror with TLS</strong></td>
          <td>
            Select this to enter a hostname, port number, and CA certificate.
          </td>
        </tr>
        <tr>
            <td>
                <strong>Mirror hostname without leading https://</strong>
            </td>
            <td>
              Enter the hostname or IP address for your existing mirror.<br>
              For example: <code>pivotal-anti-virus-mirror.s3.amazonaws.com</code> or <code>10.0.4.5</code>
              <p class="note">
                <strong>Note: </strong> Ensure that your existing mirror server is using the correct certificate for the method you choose (hostname or IP).
              </p>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Mirror Port</strong>
            </td>
            <td>
              Enter the port used by your existing mirror.<br>
              For example: <code>443</code>
            </td>
        </tr>
        <tr>
            <td>
                <strong>Mirror CA Certificate</strong>
            </td>
            <td>
              Enter the CA certificate used with your existing mirror.<br>
              For example:
                <code>
                  -----BEGIN CERTIFICATE-----<br>
                  MIIEYzCCA0ugAwIBAgIQAYL4CY6i5ia5GjsnhB+5rzANBgkqhki<br>
                  ...<br>
                  upcHi9nzBhDFKdT3uhaQqNBU4UtJx5g=<br>
                  -----END CERTIFICATE-----
                </code>
            </td>
        </tr>
      </table>
    </div>

1. Configure the remaining fields:
    <img src="./images/configure.png" alt="Configure Anti-Virus" width="550">

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>(Optional) Enable on-access scanning on Linux</strong></td>
        <td>Select this option if you want to scan files immediately after they are modified.
        <p class="note"><strong>Note</strong>: On-Access Scan is not supported on Windows.
        </p>
      </tr>
      <tr>
        <td><strong>Memory limit (in bytes)</strong></td>
        <td>Enter the maximum amount of user memory (including file cache) in bytes that <%= vars.product_short %> can use.
          The default value is <code>1610612736</code>.</td>
      </tr>
      <tr>
        <td><strong>Number of database checks per day</strong></td>
        <td>Set how often VMs check the mirror for virus database updates.
            This is the mirror you selected for automatic database updates, above.
            The default value is <code>12</code>.</td>
      </tr>
      <tr>
        <td><strong>Timeout to connect to the database server (in seconds)</strong></td>
        <td>Set the timeout for downloading virus definitions from the mirror server configured in
            <strong>Mirror for Automatic Database Updates</strong>.
            The default value is <code>30</code>.</td>
      </tr>
      <tr>
        <td><strong>CPU limit (percentage)</strong></td>
        <td>Set the percentage of CPU that the <%= vars.product_short %> processes can use.<br>
            Integers from <code>1</code> to <code>100</code> are valid.<br>
            Setting this field to <code>100</code> permits the use of one full core.
               <p class="note"><strong>Note:</strong>
                <strong>CPU Limit</strong> affects only one core.
                 For example, in a system with four cores, if you set the CPU limit to <code>100</code>,
                 <%= vars.product_short %> uses only one of the four cores.
                 </p>
        </td>
      </tr>
      <tr>
        <td><strong>Enforce CPU limit</strong></td>
        <td>Set the enforcement policy for the <strong>CPU limit</strong>:<br>
          <ul>
            <li><strong>Always</strong>: Ensures the <strong>CPU limit</strong> is always enforced.</li>
            <li><strong>When other processes are using CPU resources</strong>: Permits the CPU usage to
              exceed the limit set by <strong>CPU limit</strong> if idle CPU cycles are available.</li>
          </ul>
          <p class="note warning"><strong>Warning:</strong>
            If <strong>Enforce CPU limit</strong> is set to <code>Enable</code>, ensure
            <strong>CPU limit (percentage)</strong> is set high enough for <%= vars.product_short %>
            to execute normally. If the limit is too strict, <%= vars.product_short %> fails to start.
            <br>
            For example, on Google Cloud Provider (GCP), an n1-standard-1 VM requires a CPU limit of more than 45%.
            </p>
        </td>
      </tr>
      <tr>
        <td><strong>Action to take when a virus is found</strong></td>
        <td>Select one of the following options:<br>
            <ul>
              <li><strong>Notify</strong>: (Default) Only send a notification to syslog.</li>
              <li><strong>Remove</strong>: Delete the infected file from the file system.</li>
              <li><strong>Move</strong>: Move the infected file to a specified directory.</li>
              <li><strong>Copy</strong>: Copy the infected file to a specified directory.</li>
            </ul>
            For the <strong>Move</strong> and <strong>Copy</strong> options, a field
            for <strong>Destination for infected files</strong> appears after the
            option is selected.
        </td>
      </tr>
      <tr>
        <td><strong>Destination for infected files</strong></td>
        <td>Enter the directory location where you want the infected files moved or copied to.
          This field only appears if you have selected the <strong>move</strong> or <strong>copy</strong>
           while selecting an <strong>Action to take when a virus is found</strong>.

         <div class="note"><strong>Note: </strong> Add this path to the
           <strong>Directories and files that will be ignored (on Windows)</strong> list below.
            If you do not do this, then <%= vars.product_short %>:
            <ul>
              <li>Detects the moved or copied file</li>
              <li>Logs redundant alerts</li>
              <li>Creates additional copies of the detected file</li>
            </ul>
           </div>
        </td>
      </tr>
      <tr>
        <td><strong>Directories and files that will be ignored</strong></td>
        <td>Enter directories in a comma-separated list for <%= vars.product_short %> to not scan on Linux.
          The default value is "<code>/proc/</code>,<code>/sys/</code>".
          This configures <%= vars.product_short %> scans to exclude the <code>/proc</code> and
          <code>/sys</code> directories.<br><br>
          Pivotal recommends that you ignore the <code>/proc</code>,
          <code>/sys</code>, and <strong>Destination for infected files</strong> directories.</td>
      </tr>
      <tr>
        <td><strong>Directories and files that will be ignored on Windows</strong></td>
        <td>Enter directories in a comma-separated list for <%= vars.product_short %> to not scan on Windows.</td>
      </tr>
      <tr>
        <td><strong>List of signature names that will be ignored (Used for false positives)</strong></td>
        <td>Enter signature names in a comma-separated list for <%= vars.product_short %> to whitelist. For example,<br>
          <code>Eicar-Test-Signature, Clamav.Test.File-7</code><br>
          configures <%= vars.product_short %> to ignore the <strong>Eicar Test File</strong>
          and <strong>ClamAV Test File-7</strong> signatures.</td>
      </tr>
      <tr>
        <td><strong>List of instance group names that will be excluded from deployment</strong></td>
        <td>Enter the instance groups that you do not want <%= vars.product_short %> deployed on.
            Use a comma-separated list.</td>
      </tr>
    </table>
    <br>

<%# TODO Chris: Is there a list anywhere to find signatures that can be ignored in "List of signature names that will be ignored by ClamAV (Used for false positives)"?%>
<%# TODO Chris: Change "will" in the field above (Avoid "will" as we prefer the present tense). %>

1. Click **Save**.

If a scan reports false positives, report the issue to
[ClamAV](https://www.clamav.net/reports/fp).
For more information about false positives, see
[Anti-Virus Reports False Positives](./troubleshooting.html#false-positive-clamav).
It takes about a week for ClamAV to verify and publish a new database.


## <a id='proxy'></a> Configure HTTP Proxy
If you require a proxy server for <%= vars.product_short %> jobs to connect to the internet to
update their virus definitions, you can configure one:

1. Select **HTTP Proxy Configuration for Anti-Virus Jobs**.
![Configure HTTP Proxy](http-proxy.png)

1. Set **HTTP proxy for Anti-Virus jobs to get database updates** to **Enabled**.
1. Enter the **Host**, **Port**, **Username** and **Password** in the fields that appear.
1. Click **Save**.


## <a id='scheduled'></a> Configure Scheduled Scan
<%= vars.product_short %> can be configured to run a virus scan `hourly` or `daily`.
The default value is `daily`.
The format of these values must be in 24-hour format `HH:MM`.

To change the scheduled scan value:

1. Select **Scheduled Scans**.
![Configure Scheduled Scan](scheduled-scans.png)
<%# TODO: Chris to check if this screenshot is accurate %>

1. Set **Interval for scheduled scans to run** to one of these options:
  * **Hourly**
  * **Daily** (default)
  * **Disabled**
1. (Optional) If you selected **Daily** scheduled scans, you can restrict the interval.
To do this, set **Earliest time that a daily scheduled scan can start** and
**Latest time that a daily scheduled scan can start**.
1. Click **Save**.

## <a id="apply-changes"></a> Apply Changes from Your Configuration
Your installation is not complete until you apply your configuration changes.
To do this, complete this procedure:

1. Return to the <%= vars.ops_manager %> Installation Dashboard.
1. Click **Review Pending Changes**.
1. Ensure all products are selected and click **Apply Changes**.

<br>
<hr style="height:1px;border:none;color:#333;background-color:#333;" />

##<a id="scan-containers"></a> (Optional) Configure <%= vars.product_short %> to Exclude Duplicate Logs on Containers
You can use <%= vars.product_short %> to scan:

* Garden containers on the Diego Cell VMs in Pivotal Application Service (PAS).
* Containers on the Kubernetes worker node VMs in Enterprise Pivotal Container Service (Enterprise PKS).

However, duplicate logs about the same file appear under the `diff`,
`rootfs`, or `merged` directories as a consequence of OverlayFS implementation.

To configure <%= vars.product_short %> to ignore duplicate logs for these directories, see the optional
[Exclude Duplicate Logs on Garden Containers](#garden) or
[Exclude Duplicate Logs on Containers in Enterprise PKS](#pks) sections below:


###<a id="garden"></a> (Optional) Exclude Duplicate Logs on Garden Containers
When <%= vars.product_short %> scan results detect potential malware on Garden containers,
logs are reported for both the `diff` and `rootfs` directories.

This is because the `rootfs` directory is the projection of
the `diff` directory on top of a base image layer, therefore it is safe to
ignore the `rootfs` directory.
GrootFS mounts the underlying volumes using OverlayFS to a point in the images directory.
This mount point is the `rootfs` directory for the container and is read-write.

For more information about GrootFS OverlayFS implementation, see
[Volumes](https://docs.cloudfoundry.org/concepts/grootfs-disk.html#volumes)
in the Cloud Foundry documentation.

#### Procedure
To configure <%= vars.product_short %> to ignore duplicate logs for these directories:

1. Select **Anti-Virus Configuration**.
1. Enter the following ignore pattern into the **Directories and files that will
be ignored** field:

    ```
    ^/var/vcap/data/grootfs/store/(un)?privileged/images/[\w-]+/rootfs/.*$
    ```
    ![Directories and files that will be ignored by Anti-Virus](ignore-file.png)
    <p class="note"><strong>Note:</strong>
      Adding this ignore pattern means that files and directories in the
      <code>/var/vcap/data/grootfs/store/unprivileged/images/UUID/rootfs</code>
      directory are ignored by <%= vars.product_short %>.
      <code>UUID</code> is the ID of the container.
    </p>
1. Click **Save**.
1. To apply the configuration change, follow the instructions in
[Apply Changes from Your Configuration](#apply-changes) above.

For an example log message, see [Container Log Messages](./monitoring-logs.html#container).


###<a id="pks"></a> (Optional) Exclude Duplicate Logs on Containers in Enterprise PKS
When <%= vars.product_short %> scan results detect potential malware on containers of the Kubernetes
worker node VMs in Enterprise PKS, logs are reported for both the
`diff` and `merged` directories.

This is because the `merged` directory is the projection of
the `diff` directory on top of a base image layer, therefore it is safe to
ignore the `merged` directory.

For more information about Docker OverlayFS implementation, see
[Use the OverlayFS storage driver](https://docs.docker.com/storage/storagedriver/overlayfs-driver/)
in the Docker documentation.

#### Procedure
To configure <%= vars.product_short %> to ignore duplicate logs for these directories:

1. Select **Anti-Virus Configuration**.
1. Enter the following ignore pattern into the **Directories and files that will
be ignored** field:

    ```
    ^/var/vcap/store/docker/docker/overlay2/\w+/merged/.*$
    ```
    ![Directories and files that will be ignored by Anti-Virus](ignore-file.png)
    <p class="note"><strong>Note:</strong>
      Adding this ignore pattern means that files and directories in the
      <code>/var/vcap/data/grootfs/store/unprivileged/images/UUID/merged</code>
      directory are ignored by <%= vars.product_short %>. <code>UUID</code> is the ID of the container.
    </p>
1. Click **Save**.
1. To apply the configuration change, follow the instructions in
[Apply Changes from Your Configuration](#apply-changes) above.

For an example log message, see [Container Log Messages](./monitoring-logs.html#container).
