---
title: Installing and Configuring Anti-Virus Mirror
owner: Platform Security & Compliance Team
---
<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full_mirror %>.
VMware recommends that you install this tile before installing <%= vars.product_full %>.

##<a id="overview"></a>Overview

If you do not have an external mirror for Anti-Virus jobs to fetch database updates from,
you can deploy a mirror using the <%= vars.product_short_mirror %> tile.

This deployed internal mirror, which uses mutual TLS (mTLS), can support both air-gapped environments and <%= vars.product_short_mirror %> networked environments:

* **Online Network:** You can deploy the internal <%= vars.product_short_mirror %> as a proxy.
  This acts as a database for the virus definitions if the online virus database experiences downtime.
* **Air-gapped Network:** Because there is no access to an outside network,
  the internal <%= vars.product_short_mirror %> VM acts as the server for the virus definitions.


If you have already deployed an external mirror, you can use that instead of
installing this tile, and continue to [Installing and Configuring <%= vars.product_full %>](./install.html).

##<a id="prereqs"></a>Prerequisites

To install the <%= vars.product_short_mirror %>, you must have:

* **A Ops Manager operator user account with admin rights**. For more information, see [Platform Operators](https://docs.pivotal.io/ops-manager/install/platform-operators.html).

* **<%= vars.ops_manager_full %> (Ops Manager)**.
For compatible versions, see the [Product Snapshot](./index.html#snapshot).

* **At least 1&nbsp;GB of RAM free for each VM that installs <%= vars.product_short %>**.
This is so that you can install the <%= vars.product_full %> tile after deploying this mirror.
<%= vars.product_short %> installs itself on each tile VM and runs internally.
<%= vars.product_short %> takes at least 610&nbsp;MB of RAM on each VM.
On Google Cloud Platform (GCP), the recommended minimum VM size is `micro.cpu` using 2&nbsp;CPU and 2&nbsp;GB RAM.

## <a id='install-mirror'></a> Install <%= vars.product_full_mirror %>

To install the <%= vars.product_full_mirror %> tile:

1. Download the product file from [<%= vars.product_network %>](https://network.pivotal.io/products/p-clamav-addon).

    For air-gapped networks, follow your company's offline installation protocols.
      For more information, see [Installing Ops Manager in Air-gapped Environments](https://docs.pivotal.io/ops-manager/install/offline_installation.html) in the
Ops Manager documentation.

1. Navigate to the Ops Manager Installation Dashboard and select **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of <%= vars.product_full_mirror %>.
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_full_mirror %>** tile.

## <a id='azs'></a> Assign AZs and Networks

To assign availability zones (AZs) and networks:

1. Select **Assign AZs and Networks**.
![Screenshot of the "Assign AZs and Networks" pane.
  The fields are described below.](images/mirror-assign-azs.png)

1. Configure the fields as follows:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select an AZ. If you install only one <%= vars.product_short_mirror %> VM,
            this is the AZ that it is placed in.</td>
      </tr>
      <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select one or more AZs.
            If you install more than one <%= vars.product_short_mirror %> VM,
            these are the AZs that the VMs are placed in.</td>
      </tr>
      <tr>
        <td><strong>Network</strong></td>
        <td>Select a subnet for the <code>antivirus_mirror</code> VM.
          <br>This is typically the same subnet that
          includes the <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>) component VMs.</td>
      </tr>
    </table>

1. Click **Save**.

## <a id='configure-mirror'></a> Configure <%= vars.product_short_mirror %>
To configure <%= vars.product_short_mirror %>:

1. Select **Anti-Virus Mirror Configuration**.
  ![Screenshot of the Anti-Virus Mirror Configuration pane.
    The fields are described below.](images/mirror-configure.png)

1. Configure the fields as follows:

    <table>
      <tr><th>Field</th><th>Instructions</th></tr>
      <tr>
        <td><strong>Log output destination</strong></td>
        <td>
          <br>
          Select the file descriptor to forward your logs through:
          <br>
          <ul>
            <li><strong>stdout</strong>: sends messages to <code>/var/vcap/sys/log/antivirus-mirror/antivirus-mirror.stdout.log</code></li>
            <li><strong>stderr</strong>: sends messages to <code>/var/vcap/sys/log/antivirus-mirror/antivirus-mirror.stderr.log</code></li>
            <li><strong>syslog</strong>: sends messages to <code>/var/log/messages</code></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Anti-Virus Mirror Port</strong></td>
        <td>
          <br>
          Enter the port for Anti-Virus Mirror to use.
          The default value is <code>6501</code>.

          <p class="note"><strong>Note: </strong> <%= vars.product_short_mirror %> uses mTLS. This port must be the same port used in <strong>Anti-Virus Mirror Port</strong> of the <strong><%= vars.product_full %></strong> tile. If these ports are not the same, <%= vars.product_short %> database updates and deployments fail.
          </p>
        </td>
      </tr>
      <tr>
        <td><strong>Mirror for Automatic Database Updates</strong></td>
        <td>
          <ul>
            <li><strong>No mirror</strong>: Select this for air-gapped environments, or to control the database versions available to your environment.</li>
            <li><strong>Official mirror</strong></li>
            <li><strong>Existing mirror</strong></li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Official mirror</strong></td>
        <td>
          <br>
          Select this to have the mirror fetch databases from the official virus database mirror.
          <br>
          <ul>
            <li><strong>Number of database checks per day  (min: 1, max: 50) </strong>: Enter the number of database checks that the mirror performs per day. The default value is <code>12</code>.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td><strong>Existing mirror</strong></td>
        <td>
          <ul>
            <li><strong>Comma separated list of mirror hostnames or IPs</strong>: Enter a list of hostnames or IPs of mirrors.</li>
            <li><strong>Number of database checks per day  (min: 1, max: 50)</strong>: Enter the number of database checks the mirror performs per day. The default value is <code>12</code>.</li>
          </ul>
        </td>
      </tr>
    </table>

    <p class="note"><strong>Note: </strong> <%= vars.product_full_mirror %> serves
      virus definitions to your environment for <%= vars.product_full %> to use,
      but the <%= vars.product_short %> mirror needs to get databases itself.
      You can configure the Anti-Virus mirror to get virus definitions using the
      supported options in <strong>Mirror for Automatic Database Updates</strong> above.
    </p>

1. Click **Save**.

1. (Optional) If you selected **Official mirror** or **Existing mirror** in the previous section,
 you can configure a proxy for the <%= vars.product_short %> mirror to retrieve the databases from.
 To do this:

  1. Select **HTTP Proxy Configuration**.
  ![Screenshot of HTTP Proxy Configuration pane.
    Under the "HTTP proxy to get database updates" heading, the Enabled button is selected.
    The fields are described below.](images/mirror-http-proxy.png)

  1. Set **HTTP proxy to get database updates** to **Enabled**.

  1. Enter the **host**, **port**, **username**, and **password** in the fields that appear.

  1. Click **Save**.

##<a id="syslog"></a> Configure Syslog Forwarding
Follow the steps below to enable system logging for <%= vars.product_full_mirror %>.

1. Select **Syslog**.
    ![Screenshot of the Syslog pane.
      The "Yes" button is selected.
      The fields are described below.](images/mirror-syslog.png)

1. Select **Yes** for **Do you want to configure Syslog forwarding?**.
1. Configure the fields as follows:
  <table>
    <tr><th>Field</th><th>Instructions</th></tr>
    <tr>
        <td><strong>Address</strong></td>
        <td>Enter the address or host of the syslog server for sending logs, for example,
            <code>logmanager.example.com</code>.</td></tr>
    <tr><td><strong>Port</strong></td>
        <td>Enter the port of the syslog server for sending logs, for example, <code>29279</code>.</td></tr>
    <tr><td><strong>Transport Protocol</strong></td>
        <td>Select the transport protocol used to send system logs to the server. VMware recommends using TCP.</td></tr>
    <tr><td><strong>Enable TLS</strong></td>
    <td>If you select TCP, you can also select to send logs encrypted over TLS.</td></tr>
    <tr><td><strong>Permitted Peer</strong></td>
        <td>Enter either the accepted fingerprint, in SHA1, or the name of the remote peer, for example, <code>*.example.com</code>.</td></tr>
    <tr><td><strong>SSL Certificate</strong></td>
        <td>Enter the SSL or TLS Certificates for the syslog server. This ensures the logs are transported securely.</td></tr>
    <tr>
      <td><strong>Queue Size</strong></td>
      <td>Enter an integer. This value specifies the number of log entries held in the buffer.
      The default value is <code>100000</code>.</td>
    </tr>

    <tr>
      <td><strong>Forward Debug Logs</strong></td>
      <td>Select this box to forward debug logs to an external source.
      This option is deselected by default.
      If you select it, you might generate a large amount of log data.</td>
    </tr>

    <tr>
      <td><strong>Custom rsyslog Configuration</strong></td>
      <td>Enter configuration details for rsyslog. This field requires RainerScript syntax.</td>
    </tr>
  </table>

1. Click **Save Syslog Settings**.

## <a id="scale-deployed-mirror"></a> Scale the Number of Deployed Mirrors

Anti-Virus jobs do load balancing for you.

VMware recommends one <%= vars.product_short_mirror %> VM for every 250 VMs with <%= vars.product_short %> installed.
To scale the number of deployed mirrors:

  1. Select **Resource Config**.

    ![An Ops Manager UI showing the Resource Config pane in the Anti-Virus Mirror tile.
      The antivirus-mirror job is configured using dropdown lists for the number of instances,
      VM type, and persistent disk type. The example configuration shows instances
      configured to "Automatic: 1", VM Type configured to "Automatic: small (cpu: 1, ram: 2 GB)",
      and the persistent disk type configured to Automatic: 1
      GB.](images/mirror-resource-config.png)

  1. For `antivirus-mirror`, set **INSTANCES** to the number of mirrors that you want to deploy.

  1. Click **Save**.


## <a id="apply-changes-mirror"></a> Apply Changes from Your Configuration

Your <%= vars.product_short_mirror %> installation is not complete until you apply your configuration changes.
To do this:

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**.
1. Unselect all products except **BOSH Director** and **<%= vars.product_short_mirror %>** and click **Apply Changes**.
1. After **Apply Changes** is complete, if you selected **No Mirror**, upload a set of virus definitions
to your deployed `antivirus-mirrors`.
To do this, see [Updating Virus Definitions](./updating-databases.html).
