---
title: Installing and Configuring ClamAV for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

Pivotal recommends that you download and install both the <%= vars.product_short %>
tile and the ClamAV Mirror for PCF tile.
If you already have a mirror deployed that you want to use, you can use that instead.
However, if you have an air-gapped environment you must install the ClamAV Mirror for PCF tile
to use <%= vars.product_short %>.

##<a id="prereqs"></a>Prerequisites

To install ClamAV Add-on, you must have the following:

* **A PCF operator with admin rights**.
For more information, see [Operators](https://docs.pivotal.io/pivotalcf/customizing/user-types.html#operator).

* **PCF Operations Manager (Ops Manager)**.
For compatible versions, see the [Product Snapshot](./index.html#snapshot).

* **At least 1&nbsp;GB of memory free on each VM**.
 ClamAV Add-on uses 610&nbsp;MB of memory.

* Pivotal recommends that you install the ClamAV Mirror for PCF.
  If your PCF deployment is in an air-gapped environment, then you must install ClamAV Mirror for PCF.
  For instructions, see [Installing and Configuring ClamAV Mirror for PCF](./install-mirror.html).


## <a id='install-mirror'></a> (Optional) Install ClamAV Mirror for PCF

If you do not have an external mirror for ClamAV jobs to fetch database updates from,
you can deploy one using the ClamAV Mirror for PCF.
This deployed mirror can support air-gapped environments.
For instructions, see [Installing and Configuring ClamAV Mirror for PCF](./install-mirror.html).


## <a id='install-addon'></a> Install <%= vars.product_short %>

To install the <%= vars.product_short %> file on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon).

1. Navigate to the Ops Manager Installation Dashboard and select **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of <%= vars.product_short %>.
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_short %>** tile.

## <a id='configure'></a> Configure <%= vars.product_short %>
To configure <%= vars.product_short %>, do the following:

1. Click **ClamAV Configuration**.

1. ClamAV needs to fetch virus databases from an upstream mirror. You can configure it to one of the following supported options:
  * **Use the ClamAV official mirror**: Jobs will fetch databases from `database.clamav.net`
  * **Use a deployed mirror from the ClamAV Mirror tile**.
    For more information, see [Installing and Configuring ClamAV Mirror for PCF](./install-mirror.html).
  * **Private Mirror**: Allows you to enter a list of hostnames or IPs of mirrors

1. (Optional) If you want to scan files immediately after they are modified,
then select **Enable on-access scanning**.

    <p class="note"><strong>Note</strong>: On-Access Scan is not supported on Windows.</p>

1. Fill out the following fields:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Memory limit (in bytes)</strong></td>
        <td>The maximum amount of user memory (including file cache) in bytes that ClamAV can use.
          The default value is <code>1610612736</code>.</td>
      </tr>
      <tr>
        <td><strong>(Optional) Enforce CPU limit</strong></td>
        <td>This limits the amount of CPU the ClamAV processes can use.
            To enforce this limit, select <strong>Enable</strong>,
            then enter a value in the <strong>CPU limit (percentage)</strong> field.</td>
      </tr>
      <tr>
        <td><strong>Action to take when a virus is found</strong></td>
        <td>Select one of the following options:<br>
            <ul>
              <li><strong>notify</strong>: (Default) Only send a notification to syslog</li>
              <li><strong>remove</strong>: Delete the infected file from the filesystem</li>
              <li><strong>move</strong>: Move the infected file to a specified directory</li>
              <li><strong>copy</strong>: Copy the infected file to a specified directory</li>
            </ul>
            For the <code>move</code> and <code>copy</code> options, a field
            for <strong>Destination for infected files</strong> appears after the
            option is selected.
        </td>
      </tr>
      <tr>
        <td><strong>Destination for infected files</strong></td>
        <td>This field only appears if you have selected the <strong>move</strong> or <strong>copy</strong>
         while selecting an <strong>Action to take when a virus is found</strong>.
         Enter the directory location where you want the infected files moved or copied to.<br><br>
         Add this path to the <strong>Directories and files that will be ignored by ClamAV</strong> list below.
            If you do not do this, then ClamAV:<br>
            <ul>
              <li>Detects the moved or copied file</li>
              <li>Logs redundant alerts</li>
              <li>Creates additional copies of the detected file</li>
            </ul>
      </tr>
      <tr>
        <td><strong>Directories and files that will be ignored by ClamAV</strong></td>
        <td>A comma-separated list of directories for ClamAV to not scan.
          The default value is "<code>/proc/</code>,<code>/sys/</code>".
          This configures ClamAV scans to exclude the <code>/proc</code> and
          <code>/sys</code> directories.<br><br>
          Pivotal recommends that you ignore the <code>/proc</code>,
          <code>/sys</code>, and <strong>Destination for infected files</strong> directories.</td>
      </tr>
      <tr>
        <td><strong>List of signature names that will be ignored by ClamAV (Used for false positives)</strong></td>
        <td>A comma-separated list of signature names for ClamAV to whitelist.
          For example, "<code>Eicar-Test-Signature</code>,<code>Clamav.Test.File-7</code>"
          configures ClamAV to ignore the <strong>Eicar Test File</strong>
          and <strong>ClamAV Test File-7</strong> signatures.</td>
      </tr>
    </table>

If a scan is reporting false positives, report the issue to
[ClamAV](https://www.clamav.net/reports/fp).
For more information about false positives, see
[ClamAV Reports False Positives](./troubleshooting.html#false-positive-clamav).
It takes about a week for ClamAV to verify and publish a new database.


## <a id='proxy'></a> Configure HTTP Proxy
If you require a proxy server for ClamAV jobs to connect to the internet to
update their virus definitions, you can configure one.
To do this, do the following:

1. Select the **HTTP Proxy Configuration for ClamAV Jobs** pane.
1. Set **HTTP proxy for ClamAV jobs to get database updates** to `Enabled`.
1. Enter the `proxy host`, `port`, `username` and `password` in the fields that appear.


## <a id='scheduled'></a> Configure Scheduled Scan
ClamAV can be configured to run a virus scan `hourly` or `daily`.
The default value is `daily`.
The format of these values must be in 24-hour format `HH:MM`.

To change the scheduled scan value, do the following:

1. Click **Scheduled Scans**
1. Set **Interval for scheduled scans to run** to one of the following:
  * **Hourly**
  * **Daily**
  * **Disabled**
1. (Optional) If you selected **Daily** scheduled scans, you can restrict the interval.
To do this, set **Earliest time that a daily scheduled scan can start** and
**Latest time that a daily scheduled scan can start**.

## <a id="apply-changes"></a> Apply Changes from Your Configuration
Your installation is not complete until you apply your configuration changes.
To do this, follow the procedure below:

1. Return to the Ops Manager Installation Dashboard.
1. Click **Review Pending Changes**.
1. Ensure all products are selected and click **Apply Changes**.


##<a id="scan-containers"></a>Configure ClamAV to Exclude Duplicate Logs on Containers
You can use ClamAV to scan the following:

* Garden containers on the Diego Cell VMs in Pivotal Application Service (PAS)
* Containers on the Kubernetes worker node VMs in Enterprise Pivotal Container Service (Enterprise PKS)

However, duplicate logs about the same file will appear under the `diff`,
`rootfs`, or `merged` directories as a consequence of OverlayFS implementation.

To configure ClamAV to ignore duplicate logs for these directories, see the optional
[Exclude Duplicate Logs on Garden Containers](#garden) or
[Exclude Duplicate Logs on Containers in Enterprise PKS](#pks) sections below:


###<a id="garden"></a> (Optional) Exclude Duplicate Logs on Garden Containers
When ClamAV scan results detect potential malware on the Garden containers,
logs are reported for both the `diff` and `rootfs` directories.

This is because the `rootfs` directory is the projection of
the `diff` directory on top of a base image layer, therefore it is safe to
ignore the `rootfs` directory.
GrootFS mounts the underlying volumes using OverlayFS to a point in the images directory.
This mount point is the `rootfs` directory for the container and is read-write.

For more information about GrootFS OverlayFS implementation, see
[Volumes](https://docs.cloudfoundry.org/concepts/grootfs-disk.html#volumes)
in the Cloud Foundry documentation.

If you would like to configure ClamAV to ignore duplicate logs for these directories,
enter `^/var/vcap/data/grootfs/store/(un)?privileged/images/[\w-]+/rootfs/.*$` into the
**Directories and files that will be ignored by ClamAV** field in the **ClamAV Configuration** pane.

  <p class="note"><strong>Note:</strong>
    Adding this ignore pattern means that files and directories in the
    <code>/var/vcap/data/grootfs/store/unprivileged/images/UUID/rootfs</code>
    directory are ignored by ClamAV. <code>UUID</code> is the ID of the container.</p>

For an example log message, see [Container Log Messages](./monitoring-logs.html#container).


###<a id="pks"></a> (Optional) Exclude Duplicate Logs on Containers in Enterprise PKS
When ClamAV scan results detect potential malware on containers of the Kubernetes
worker node VMs in Enterprise PKS, logs are reported for both the
`diff` and `merged` directories.

This is because the `merged` directory is the projection of
the `diff` directory on top of a base image layer, therefore it is safe to
ignore the `merged` directory.

For more information about Docker OverlayFS implementation, see
[Use the OverlayFS storage driver](https://docs.docker.com/storage/storagedriver/overlayfs-driver/)
in the Docker documentation.

If you would like to configure ClamAV to ignore duplicate logs for these directories,
enter `^/var/vcap/store/docker/docker/overlay2/\w+/merged/.*$` into the
**Directories and files that will be ignored by ClamAV** field in the **ClamAV Configuration** pane.

  <p class="note"><strong>Note:</strong>
    Adding this ignore pattern means that files and directories in the
    <code>/var/vcap/data/grootfs/store/unprivileged/images/UUID/merged</code>
    directory are ignored by ClamAV. <code>UUID</code> is the ID of the container.</p>

For an example log message, see [Container Log Messages](./monitoring-logs.html#container).
