---
title: Installing and Configuring ClamAV for PCF
owner: Pivotal Compliance and Innovation (PCI) Team
---
<strong><%= modified_date %></strong>

This topic describes how to install and configure <%= vars.product_full %>.

##<a id="prereqs"></a>Prerequisites

To install ClamAV Add-on, you need:

* **A PCF operator with admin rights**---For more information, see [Operators](https://docs.pivotal.io/pivotalcf/customizing/user-types.html#operator) in the Pivotal Cloud Foundry documentation.

* **Operations Manager (Ops Manager)**---For compatible versions, see the [Product Snapshot](./index.html#snapshot).

* **At least 1 GB of memory free on each VM**---ClamAV Add-on uses 610 MB of memory.

## <a id='install'></a> Install <%= vars.product_short %>
To install the <%= vars.product_short %> file on the Ops Manager Installation Dashboard, do the following:

1. Download the product file from [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to the version number of <%= vars.product_short %>.
This adds the tile to your staging area.

1. Click the newly added **<%= vars.product_short %>** tile.

## <a id='azs'></a> Assign AZs and Networks
To assign AZs and networks, click the **Assign AZs and Networks** settings tab.

1. Configure the fields as follows:

    <table class="nice">
      <th>Field</th>
      <th>Description</th>
      <tr>
        <td><strong>Place singleton jobs in</strong></td>
        <td>Select the AZ that you want the <code>clamav_mirror</code> VM to run in.</td>
      </tr>
      <tr>
        <td><strong>Balance other jobs in</strong></td>
        <td>Select the same AZ as above.</td>
      </tr>
      <tr>
        <td><strong>Network</strong></td>
        <td>Select a subnet for the <code>clamav_mirror</code> VM. <br>This is typically the same subnet that 
          includes the Pivotal Application Services (PAS) component VMs.</td>
      </tr>    
    </table>
    
1. Click **Save**.

1. Click **ClamAV Configuration**.

1. ClamAV offers immediate file scanning upon file modification. This feature may reduce the time it takes to detect and report malware.

To enable on-access file scanning, check Enable on-access scanning.

<p class="note"><strong>Note</strong>: On-Access Scan is not supported on Windows.</p>

1. For <strong>Memory limit (in bytes)</strong>, enter the maximum amount of user memory (including file cache) in bytes that ClamAV can use.

The default value is <code>1610612736</code>

1. (Optional) To limit the amount of CPU the ClamAV processes can use, set <strong>Enforce CPU limit</strong> to <strong>Enable</strong>, then enter the percentage limit in <strong>CPU limit(percentage)</strong>.

1. For <strong>Action to take when a virus is found</strong>, you can select one of the following options:

`notify`: The default, only send a notification to syslog
`remove`: Delete the infected file from the filesystem
`move`: Move the infected file to a specified directory
`copy`: Copy the infected file to a specified directory

For `move` and `copy` options, a field `Destination for infected files` will appear after the option is selected.

<p class="note warning"><strong>Warning:</strong>
  If <code>action</code> is <code>move</code> or <code>copy</code>, make sure the <code>Destination for infected files</code> path is also added to the <strong>Directories and files that will be ignored by ClamAV</strong> field.<br>
  If <code>Destination for infected files</code> is not listed under <code>Directories and files that will be ignored by ClamAV</code>, ClamAV:<br>
  ∙ Detects the moved or copied file<br>
  ∙ Logs redundant alerts<br>
  ∙ Creates additional copies of the detected file
</p>

1. For <strong>Directories and files that will be ignored by ClamAV</strong>, enter a comma-separated list of directories for ClamAV to not scan. By default, the value is `/proc/,/sys/`, which will configure ClamAV scans to exclude the `/proc` and `/sys` directories.

<p class="note"><strong>Note</strong>:
  Pivotal recommends that you include the <code>/proc</code> and <code>/sys</code>
  directories on the `exclude_paths` list.
  This is because they must be on the list to remain excluded.</p>


1. For <strong>List of signature names that will be ignored by ClamAV (Used for false positives)</strong>, enter a comma-separated list of signature names for ClamAV to whitelist. For example, `Eicar-Test-Signature,Clamav.Test.File-7` will configure ClamAV to ignore the Eicar Test File signature and the ClamAV Test File-7 signature.

If a scan is reporting false positives, report the issue to
[ClamAV](https://www.clamav.net/reports/fp).
For more information, see
[ClamAV Reports False Positives](./troubleshooting.html#false-positive-clamav). It takes about a week for ClamAV to verify and publish a new database.

## <a id='proxy'></a> Configure HTTP Proxy

If you require a proxy server for ClamAV jobs to connect to the internet to update their virus definitions, you can configure a proxy by clicking <strong> HTTP Proxy Configuration for ClamAV Jobs</strong> and setting <strong>HTTP proxy for ClamAV jobs to get database updates</strong> to `Enabled`. You can then enter the proxy host, port, username and password in the fields that appear.

## <a id='scheduled'></a> Configure Scheduled Scan

ClamAV can be configured to run a virus scan hourly or daily, with daily scan being the default.

To change the scheduled scan to hourly, click <strong>Scheduled Scans</strong> and set <strong>Interval for scheduled scans to run</strong> to `Hourly`.

To disable the scheduled scan, set <strong>Interval for scheduled scans to run</strong> to `Disabled`.

For daily scheduled scans, you can restrict the time interval when a daily scan runs by setting <strong>Earliest time that a daily scheduled scan can start </strong> and <strong>Latest time that a daily scheduled scan can start </strong>. The format of these values must be in 24-hour format `HH:MM`.

## <a id='mirror'></a> Configure ClamAV Mirror

ClamAV jobs fetch virus definitions from a ClamAV update mirror. Environments that cannot connect to the internet require a private mirror. You can deploy a private mirror by setting <strong>Database Mirror</strong> to `Deploy a private mirror for ClamAV jobs to use`.

If you set <strong>Database Mirror</strong> to `Deploy a private mirror for ClamAV jobs to use`, you can configure the output destination of the logs from the ClamAV mirror job to one of 3 supported options:

- stdout: sends messages to /var/vcap/sys/log/clamav-mirror/clamav-mirror.stdout.log.
- stderr: sends messages to /var/vcap/sys/log/clamav-mirror/clamav-mirror.stderr.log.
- syslog: sends messages to /var/log/messages.

If your environment is able to connect to the internet or you already have a private mirror, set <strong>Database Mirror</strong> to `External mirror (Make sure to set clamav-mirror instances to 0 in "Resource Config")` and enter the hostname or IP of your mirror in the <strong>Hostname or IP of a Private Mirror</strong> field that appears. If you do not specify a value, ClamAV jobs will use the [ClamAV official mirror](http://database.clamav.net/).

<p class="note"><strong>Note</strong>:
  If you selected <code>External Mirror</code>, the settings in <strong>Assign AZs and Networks</strong> are still required, but they will not do anything.
  This is because those settings apply to the ClamAV mirror VMs if they are deployed.</p>

TODO: Syslog forwarding (this was from a template through ops manager).

## <a id='resources'></a> Configure Resource Config

You can scale up the number of deployed mirrors by clicking <strong>Resource Config</strong> and setting the number of `clamav-mirror` instances to the number of mirrors that you want to deploy. The ClamAV jobs will do load balancing for you, but you need to `Apply Changes` for the ClamAV jobs to detect the number of mirrors.

<p class="warning"><strong>Warning</strong>:
  If you selected <code>External Mirror</code> in <strong>ClamAV Mirror Configuration</strong>, be sure to set the number of <code>clamav-mirror</code> instances to 0. This is because the ClamAV jobs prioritize a deployed clamav-mirror over an external mirror.</p>

## <a id="apply-changes"></a> Apply Changes from Your Configuration
Your installation is not complete until you apply your configuration changes.
Follow the steps below:

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**.
  a. If you selected `External mirror (Make sure to set clamav-mirror instances to 0 in "Resource Config")` under <strong>ClamAV Mirror Installation</strong>, click **Apply Changes** to complete the installation of <%= vars.product_short %> and skip the remaining steps.
  b. If you selected `Deploy a private mirror for ClamAV jobs to use` under <strong> ClamAV Mirror Installation</strong>, unselect all products except `BOSH Director` and `ClamAV Addon for PCF` and click **Apply Changes**.

1. Once **Apply Changes** completes successfully, you need to upload a set of virus definitions to your deployed clamav-mirrors. ClamAV primarily uses 3 virus definitions files: `main.cvd`, `daily.cvd`, and `bytecode.cvd`.

1. Go to [Updating Virus Definitions on Deployed ClamAV Mirrors](./updating-databases.html) and complete all the steps.

1. Return to the Ops Manager Installation Dashboard.

1. Click **Review Pending Changes**

1. Ensure all products are selected and click **Apply Changes**.


##<a id="scan-containers"></a>Configure ClamAV to Scan Containers
You can use ClamAV to scan the following:

* Garden containers on the Diego Cell VMs in Pivotal Application Service (PAS)
* Containers on the Kubernetes worker node VMs in Enterprise Pivotal Container Service (Enterprise PKS)

###<a id="garden"></a> Scan Garden Containers

To configure ClamAV to scan Garden containers, do the following when configuring ClamAV:

1. In [Exclude Files and Directories](#exclude) above, add the following pattern to the `exclude_paths` property:

        clamav:
          exclude_paths:
            ...
            # When scanning Garden containers,
            # ignore duplicate log messages sent to .../UUID/rootfs/
            - ^/var/vcap/data/grootfs/store/(un)?privileged/images/[\w-]+/rootfs/.*$

    <p class="note"><strong>Note:</strong> When files in the Garden containers are modified,
      changes are made to both the <code>diff</code> and <code>rootfs</code> directories.
    Adding this ignore pattern means that files and directories
    in the <code>/var/vcap/data/grootfs/store/unprivileged/images/UUID/diff</code>
    directory are ignored by ClamAV. <code>UUID</code> is the ID of the container.</p>

For an example log message, see [Container Log Messages](./monitoring-logs.html#container).


###<a id="pks"></a> Monitor Containers in Enterprise PKS

To configure ClamAV to scan containers on the Kubernetes worker node VMs in Enterprise PKS,
do the following when configuring ClamAV:

1. In [Exclude Files and Directories](#exclude) above, add the following pattern to the `exclude_paths` property:

        clamav:
          exclude_paths:
            ...
            # When scanning Kubernetes containers,
            # ignore duplicate log messages sent to .../UUID/merged/
            - ^/var/vcap/data/grootfs/store/(un)?privileged/images/[\w-]+/rootfs/.*$

    <p class="note"><strong>Note:</strong> When files in the Kubernetes worker containers are modified,
      changes are made to both the <code>diff</code> and <code>merged</code> directories.
    Adding this ignore pattern means that files and directories
    in the <code>/var/vcap/data/grootfs/store/unprivileged/images/UUID/merged</code>
    directory are ignored by ClamAV. <code>UUID</code> is the ID of the container.</p>

For an example log message, see [Container Log Messages](./monitoring-logs.html#container).
