---
title: Monitoring Anti-Virus Logs
owner: Platform Security & Compliance Team
---

<strong><%= modified_date %></strong>

This topic contains sample logs emitted by <%= vars.product_full %>.

You can use these samples to configure a Security Information and Event Management (SIEM) system
to verify regular activity and generate alerts for virus detections or outdated virus signatures.

##<a id="clamav-logs"></a> <%= vars.product_short %> Logs

There are four distinct <%= vars.product_full %> apps that run on each VM:
freshclam, go-clam-tls, clamd, and clamdscan.
The freshclam and go-clam-tls apps are mutually exclusive,
but the other apps work together to detect viruses and protect the VM.

Each app writes its own log file.
You need to monitor each of these files to know if <%= vars.product_short %>
is working correctly and if viruses have been found.

VMware recommends that you enable syslog forwarding so that the messages from each of the three log files
is aggregated into the syslog file on the remote syslog server.
Then you can use your preferred monitoring and alerting tool to review the <%= vars.product_short %> log entries.

For an example of how <%= vars.product_short %> messages appear in the syslog file, see [Syslog Format](#format) below.

For information about each app, see [freshclam](#freshclam-app),
[go-clam-tls](#go-clam-tls-app), [clamd](#clamd-app),
and [clamdscan](#clamdscan-app) below.

###<a id="freshclam-app"></a> freshclam App

The freshclam app updates the database that stores the known virus signatures.

The messages output by the freshclam app indicate when freshclam checks for updates,
what the download progress is, and the downloaded signature version.

The log file for the freshclam app is `/var/vcap/sys/log/antivirus/freshclam.log`.

###<a id="go-clam-tls-app"></a> go-clam-tls App
The go-clam-tls app performs the same role as the freshclam app for environments that
use <%= vars.product_full_mirror %> with <%= vars.product_full %>. go-clam-tls uses
mutual TLS (mTLS) and permits changing the port used for database updates.

The messages output by the go-clam-tls app indicate when go-clam-tls checks for updates,
what the download progress is, and the downloaded signature version.

The log file for the go-clam-tls app is `/var/vcap/sys/log/antivirus/go-clam-tls.log`.

###<a id="clamd-app"></a> clamd App

The Clam AntiVirus Daemon (clamd) listens for incoming connections on Unix or the TCP socket.
clamd works with clamdscan to scan files or directories.
The clamd job uses the database of virus signatures that the freshclam job updates.

The messages output by the clamd app show files where viruses are found, the name of the  virus signature,
and any action taken (such as moving, copying, or deleting).

The log file for the clamd app is `/var/vcap/sys/log/antivirus/antivirus.stdout.log`.

###<a id="clamdscan-app"></a> clamdscan App

The clamdscan app scans files and directories for viruses using the clamd daemon.

The messages output by the clamdscan app show when a clamdscan is initiated
and writes a scan summary on completion.

The log file for the clamd app is `/var/vcap/sys/log/antivirus/clamdscan.log`.


##<a id="messages"></a>Log Messages

The following tables lists common messages that you see when ClamAV apps write to log files:

<table class="nice">
  <tr>
    <th>Message</th>
    <th>App</th>
    <th>Meanings</th>
    <th>Healthy/Unhealthy?</th>
  </tr>
<!--  =============================== freshclam section ===============================  -->
  <tr>
    <td><a href="#freshclam-check">Check for Updates</a></td>
    <td>freshclam</td>
    <td>States that the freshclam app is checking the
    	configured remote mirror for an update to the local virus signature database.</td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#freshclam-update">Update the Virus Database</a></td>
    <td>freshclam</td>
    <td>States that the virus database is being updated.</td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#cld-warnings">Cannot Download CLD Database Files</a></td>
    <td>freshclam</td>
    <td>
      States that freshclam could not download the latest uncompressed
	    databases. These database files include the <code>main.cld</code>, <code>daily.cld</code>, and <code>bytecode.cld</code> files.
      They are optional for ClamAV to run.
    </td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#freshclam-up-to-date">Virus Database Is Up-to-Date</a></td>
    <td>freshclam</td>
    <td>States that the virus database is up-to-date.</td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#freshclam-old">Virus Database is Older Than 7 Days</a></td>
    <td>freshclam</td>
    <td>States that the virus database is stale.
    	Based on configuration, freshclam checks hourly or daily.</td>
    <td>Unhealthy</td>
  </tr>
  <tr>
    <td><a href="#freshclam-terminated">Process Terminated</a></td>
    <td>freshclam</td>
    <td>freshclam should only terminate during a deployment. </td>
    <td>Unhealthy
    	<br>(Will be triggered by deployments)</td>
  </tr>
<!--  =============================== go-clam-tls section ===============================  -->
  <tr>
    <td><a href="#go-clam-tls-check">Check for Updates</a></td>
    <td>go-clam-tls</td>
    <td>States that the go-clam-tls app is checking the
    configured remote mirror for an update to the local virus signature database.</td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#go-clam-tls-update">Update the Virus Database</a></td>
    <td>go-clam-tls</td>
    <td>States that the virus database is being updated.</td>
    <td>Healthy</td>
  </tr>
    <td><a href="#go-clam-tls-using-cld">Using CLD Database Files</a></td>
    <td>go-clam-tls</td>
    <td>States that go-clam-tls could not find .cvd files and is failing over to .cld files.</td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#go-clam-tls-up-to-date">Virus Database Is Up-to-Date</a></td>
    <td>go-clam-tls</td>
    <td>States that the virus database is up-to-date.</td>
    <td>Healthy</td>
    </tr>
  <tr>
    <td><a href="#go-clam-tls-old">Virus Database is Older Than 7 Days</a></td>
    <td>go-clam-tls</td>
    <td>States that the virus database is stale.
      Based on configuration, go-clam-tls checks hourly or daily.</td>
    <td>Unhealthy</td>
  </tr>
  <tr>
    <td><a href="#go-clam-tls-fail-to-parse-local">Failed to Parse Local Database</a></td>
    <td>go-clam-tls</td>
    <td>States that go-clam-tls could not parse the local database. This might be because the database was modified in some way.
    This message is given on initial startup, because the local database files should not be present.</td>
    <td>Unhealthy</td>
  </tr>
  <tr>
    <td><a href="#go-clam-tls-mirror-older">Mirror Database is Older Than Local</a></td>
    <td>go-clam-tls</td>
    <td>States that the mirror database is older than the local version.
    You should investigate your mirror deployment.</td>
    <td>Unhealthy</td>
  </tr>
<!--  =============================== clamd section ===============================  -->
  <tr>
    <td><a href="#clamd-start">Start clamd</a></td>
    <td>clamd</td>
    <td>States that a clamd daemon is starting.</td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#clamd-update-database">Check for Updated Virus Signatures</a></td>
    <td>clamd</td>
    <td>clamd checks if freshclam has updated the local virus signature database.</td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#clamd-virus-detected">Virus Detected</a></td>
    <td>clamd</td>
    <td>Gives the name and location of the virus that was found
    	and the virus signature that it matches.</td>
    <td>Unhealthy</td>
  </tr>
  <tr>
    <td><a href="#clamd-virus-removed">Virus Removed</a></td>
    <td>clamd</td>
    <td>Gives the name of the virus file that was found
    	and states that the file was deleted.</td>
    <td>Unhealthy</td>
  </tr>
  <tr>
    <td><a href="#clamd-virus-moved">Virus Moved</a></td>
    <td>clamd</td>
    <td>Gives the name of the virus file found and where it was moved to.
    	<br>The virus file is deleted from original location.</td>
    <td>Unhealthy</td>
  </tr>
  <tr>
    <td><a href="#clamd-virus-copied">Virus Copied</a></td>
    <td>clamd</td>
    <td>Gives the name of the virus file found and where it was copied to.
    	<br>The virus file remains at original location.</td>
    <td>Unhealthy</td>
  </tr>
  <tr>
    <td><a href="#clamd-terminated">Process Terminated</a></td>
    <td>clamd</td>
    <td>Both clamd and freshclam should always be running.
    	If the process was terminated, meaning the clamd daemon has stopped,
    	then this error appears and can indicate a problem.
    	Neither on-access scanning nor scheduled scanning is possible if the process state is terminated.
</td>
    <td>Unhealthy
    	<br>(Will be triggered by deployments)</td>
  </tr>
<!--  =============================== clamdscan section ===============================  -->
  <tr>
    <td><a href="#clamd-start-scan">Start Scheduled Scan</a></td>
    <td>clamdscan</td>
    <td>States when the scan starts.
    	Use the time stamp on the message to determine this. </td>
    <td>Healthy</td>
  </tr>
  <tr>
    <td><a href="#clamd-scan-complete">Scan Finished</a></td>
    <td>clamdscan</td>
    <td>Gives time elapsed for scan and how many infected files were found.</td>
    <td>Healthy</td>
  </tr>
</table>


##<a id="freshclam"></a>freshclam Log Messages

The freshclam job on each VM is responsible for updating the database that stores the known virus signatures.

freshclam log entries relate to whether the virus-signature database is up-to-date.


* <a id="freshclam-check"></a>Check for Updates
	<pre class="terminal">
	ClamAV update process started at Wed Nov 28 15:58:23 2018
	</pre>

* <a id="freshclam-update"></a>Update the Virus Database
	<pre class="terminal">
	Downloading main.cvd [100%]
	main.cvd updated (version: 58, sigs: 4566249, f-level: 60, builder: sigmgr)
	Downloading daily.cvd [100%]
	daily.cvd updated (version: 25135, sigs: 2155329, f-level: 63, builder: neo)
	Downloading bytecode.cvd [100%]
	bytecode.cvd updated (version: 327, sigs: 91, f-level: 63, builder: neo)
	Database updated (6721669 signatures) from pivotal-anti-virus-mirror.s3.amazonaws.com (IP: 52.216.169.19)
	</pre>

* <a id="freshclam-up-to-date"></a>Virus Database Is Up-to-Date
	<pre class="terminal">
	main.cvd is up to date (version: 58, sigs: 4566249, f-level: 60, builder: sigmgr)
	daily.cvd is up to date (version: 25135, sigs: 2155329, f-level: 63, builder: neo)
	bytecode.cvd is up to date (version: 327, sigs: 91, f-level: 63, builder: neo)
  </pre>

* <a id="cld-warnings"></a>Cannot Download CLD Database Files
  <pre class="terminal">
  WARNING: getfile: Unknown response from pivotal-anti-virus-mirror.s3.amazonaws.com (IP: 52.216.233.147): HTTP/1.1 403
  WARNING: Can't download main.cld from pivotal-anti-virus-mirror.s3.amazonaws.com
  WARNING: getfile: Unknown response from pivotal-anti-virus-mirror.s3.amazonaws.com (IP: 52.216.233.147): HTTP/1.1 403
  WARNING: Can't download daily.cld from pivotal-anti-virus-mirror.s3.amazonaws.com
  WARNING: getfile: Unknown response from pivotal-anti-virus-mirror.s3.amazonaws.com (IP: 52.216.233.147): HTTP/1.1 403
  WARNING: Can't download bytecode.cld from pivotal-anti-virus-mirror.s3.amazonaws.com</pre>

* <a id="freshclam-old"></a>Virus Database is Older Than 7 Days
  <pre class="terminal">
  [LibClamAV] **************************************************<br>
  [LibClamAV] \***  The virus database is older than 7 days!  \***<br>
  [LibClamAV] \***   Please update it as soon as possible.    \***<br>
  [LibClamAV] **************************************************
	</pre>

* <a id="freshclam-terminated"></a>Process Terminated
	<pre class="terminal">
	Update process terminated
	</pre>

##<a id="go-clam-tls"></a>go-clam-tls Log Messages
The go-clam-tls job on each VM is responsible for updating the database that stores the known virus signatures.

go-clam-tls log entries relate to whether the virus-signature database is up-to-date.


* <a id="go-clam-tls-check"></a>Check for Updates
	<pre class="terminal">
	2019/10/03 20:30:20 go-clam-tls update process started
  </pre>

* <a id="go-clam-tls-update"></a>Update the Virus Database
	<pre class="terminal">
	2019/10/03 20:40:15 go-clam-tls update process started
  2019/10/03 20:40:15 Warning: could not parse local main.cvd header: open /var/vcap/data/antivirus/main.cvd: no such file or directory
  2019/10/03 20:40:26 main.cvd updated (version: 58, sigs: 4566249, f-level: 60, builder: sigmgr, build timestamp: 07 Jun 2017 17-38 -0400)
  2019/10/03 20:40:26 Warning: could not parse local daily.cvd header: open /var/vcap/data/antivirus/daily.cvd: no such file or directory
  2019/10/03 20:40:31 daily.cvd updated (version: 25591, sigs: 1793277, f-level: 63, builder: raynman, build timestamp: 03 Oct 2019 04-30 -0400)
  2019/10/03 20:40:31 Warning: could not parse local bytecode.cvd header: open /var/vcap/data/antivirus/bytecode.cvd: no such file or directory
  2019/10/03 20:40:31 bytecode.cvd updated (version: 331, sigs: 94, f-level: 63, builder: anvilleg, build timestamp: 19 Sep 2019 12-12 -0400)
  2019/10/03 20:40:31 Clamd socket response: RELOADING
  <br>
  2019/10/03 20:40:31 Databases successfully updated
  </pre>

* <a id="go-clam-tls-using-cld"></a>Using CLD Database Files
  <pre class="terminal">
  2019/10/03 20:42:31 go-clam-tls update process started
  2019/10/03 20:42:31 Anti-Virus Mirror antivirus-mirror.service.internal:6501 returned 404 for main.cvd, trying main.cld...
  2019/10/03 20:42:31 Warning: could not parse local main.cld header: open /var/vcap/data/antivirus/main.cld: no such file or directory
  2019/10/03 20:42:38 main.cld updated (version: 58, sigs: 4566249, f-level: 60, builder: sigmgr, build timestamp: 07 Jun 2017 17-38 -0400)
  2019/10/03 20:42:38 Anti-Virus Mirror antivirus-mirror.service.internal:6501 returned 404 for daily.cvd, trying daily.cld...
  2019/10/03 20:42:38 Warning: could not parse local daily.cld header: open /var/vcap/data/antivirus/daily.cld: no such file or directory
  2019/10/03 20:42:38 daily.cld updated (version: 25591, sigs: 1793277, f-level: 63, builder: raynman, build timestamp: 03 Oct 2019 04-30 -0400)
  2019/10/03 20:42:38 Anti-Virus Mirror antivirus-mirror.service.internal:6501 returned 404 for bytecode.cvd, trying bytecode.cld...
  2019/10/03 20:42:38 Warning: could not parse local bytecode.cld header: open /var/vcap/data/antivirus/bytecode.cld: no such file or directory
  2019/10/03 20:42:38 bytecode.cld updated (version: 331, sigs: 94, f-level: 63, builder: anvilleg, build timestamp: 19 Sep 2019 12-12 -0400)
  2019/10/03 20:42:38 Clamd socket response: RELOADING
  <br>
  2019/10/03 20:42:38 Databases successfully updated
  </pre>

* <a id="go-clam-tls-up-to-date"></a>Virus Database Is Up-to-Date
	<pre class="terminal">
	2019/10/03 20:30:21 main.cvd is up to date (version: 58, sigs: 4566249, f-level: 60, builder: sigmgr, build timestamp: 07 Jun 2017 17-38 -0400)
  2019/10/03 20:30:21 daily.cvd is up to date (version: 25591, sigs: 1793277, f-level: 63, builder: raynman, build timestamp: 03 Oct 2019 04-30 -0400)
  2019/10/03 20:30:21 bytecode.cvd is up to date (version: 331, sigs: 94, f-level: 63, builder: anvilleg, build timestamp: 19 Sep 2019 12-12 -0400)
  </pre>

* <a id="go-clam-tls-old"></a>Virus Database is Older Than 7 Days
  <pre class="terminal">
  2019/10/03 20:51:14<br>
  \**************************************************<br>
  \***  The virus database is older than 7 days!  \***<br>
  \***   Please update it as soon as possible.    \***<br>
  \**************************************************
  </pre>

* <a id="go-clam-tls-fail-to-parse-local"></a>Failed to Parse Local Database
	<pre class="terminal">
  2019/10/03 20:40:15 Warning: could not parse local main.cvd header: open /var/vcap/data/antivirus/main.cvd: no such file or directory
  </pre>

* <a id="go-clam-tls-mirror-older"></a>Mirror Database is Older Than Local
	<pre class="terminal">
  2019/10/03 20:40:15 Warning: Current daily.cvd is version 25592 and remote version is 25591
  </pre>

##<a id="clamd"></a>clamd Log Messages

clamd is the antivirus scanner that searches for viruses.
The clamd job uses the database of virus signatures that the freshclam job updates.


* <a id="clamd-start"></a>Start clamd
	<pre class="terminal">
	Wed Nov 28 15:58:47 2018 -> +++ Started at Wed Nov 28 15:58:47 2018<br>
	Wed Nov 28 15:59:02 2018 -> Self checking every 600 seconds.
	</pre>

* <a id="clamd-update-database"></a>Check for Updated Virus Signatures
	<pre class="terminal">
	SelfCheck: Database status OK.
	</pre>
	<pre class="terminal">
	SelfCheck: Database modification detected. Forcing reload
	</pre>
	<pre class="terminal">
	No stats for Database check - forcing reload
	</pre>

* <a id="clamd-virus-detected"></a>Virus Detected
	<pre class="terminal">
	/var/vcap/data/test.txt: Eicar-Test-Signature FOUND
	</pre>

* <a id="clamd-virus-removed"></a>Virus Removed
	<pre class="terminal">
	/var/vcap/data/test.txt: Removed.
	</pre>

* <a id="clamd-virus-moved"></a>Virus Moved
	<pre class="terminal">
	/var/vcap/data/test.txt: moved to '/var/vcap/data/antivirus/found/test.txt.001'
	</pre>

* <a id="clamd-virus-copied"></a>Virus Copied
	<pre class="terminal">
	/var/vcap/data/test.txt: copied to '/var/vcap/data/antivirus/found/test.txt.001'
	</pre>

* <a id="clamd-terminated"></a>Process Terminated
	<pre class="terminal">
	Wed Nov 28 19:25:23 2018 -> Pid file removed.<br>
	Wed Nov 28 19:25:23 2018 -> --- Stopped at Wed Nov 28 19:25:23 2018<br>
	Wed Nov 28 19:25:23 2018 -> Socket file removed.
	</pre>

##<a id="clamdscan"></a>clamdscan Log Messages

clamdscan searches files and directories for viruses.

* <a id="clamd-start-scan"></a>Start Scheduled Scan

    This is not provided in ClamAV Add-on for PCF v1.4.38 and earlier.

	<pre class="terminal">
	Starting scheduled scan
	</pre>

* <a id="clamd-scan-complete"></a>Scan Finished

    This is not provided in ClamAV Add-on for PCF v1.4.38 and earlier.

	Sample:
	<pre class="terminal">
	----------- SCAN SUMMARY -----------<br>
	Infected files: 1<br>
	Time: 346.887 sec (5 m 46 s)
	</pre>


##<a id="container"></a>Container Log Messages
Examples of ClamAV log entries from Garden containers and Docker containers are as follows:

* For a Garden container in <%= vars.app_runtime_full %> (<%= vars.app_runtime_abbr %>)
<pre class="terminal">
/var/vcap/data/grootfs/store/unprivileged/images/2264d474-3e57-4934-504f-ddbb/diff/home/vcap/app/public/test.html:
Eicar-Test-Signature FOUND
</pre>

* For a Docker container in <%= vars.k8s_runtime_full %> (<%= vars.k8s_runtime_abbr %>)
<pre class="terminal">
/var/vcap/store/docker/docker/overlay2/53322c6f7c25bb00224bb03cdfc285e141471d746d5c7a8c5a65db56fda56ecb/diff/test.html:
Eicar-Test-Signature FOUND
</pre>


##<a id="format"></a><%= vars.product_short %> Log Format

The logs that <%= vars.product_short %> itself outputs do not adhere to a specific structure.
However, the syslog forwarder component (which is on all VMs)
encapsulates <%= vars.product_short %>'s log, and prepends the necessary headers so that the resulting logs adhere
to the syslog format.

With syslog-forwarder, the syslog format is:

```
\<PRI> \
VERSION \
TIMESTAMP \
HOST \
APP-NAME \
PROC-ID \
MSG-ID \
[instance@47450 \
director="DIRECTOR" \
deployment="DEPLOYMENT" \
group="INSTANCE-GROUP" \
az="AVAILABILITY-ZONE" \
id="ID"] \
MESSAGE \
```

Where:

* <code>\<PRI></code> is `<14>`.
* `APP-NAME` is `freshclam`, `clamdscan`, or `clamd`.
* `MESSAGE` is the output from an <%= vars.product_short %> app.
   Examples of the output messages are shown in [Log Messages](#messages) above.

For example, the first two lines of the "Scan Finished" message appearing in the syslog file below:

<pre class="terminal">
&lt;14> \
1 \
2018-12-07T21:48:02.119539Z \
10.0.0.3 \
clamav \
rs2 \
- \
[instance@12345 \
director="" \
deployment="clamav-trusty-aaaa-80" \
group="clamav" \
az="z1" \
id="abcdef01-8901-42a5-ad58-8b4c1a2de881"] \
----------- SCAN SUMMARY -----------
&lt;14> \
1 \
2018-12-07T21:48:02.11954Z \
10.0.0.3 \
clamav \
rs2 \
- \
[instance@12345 \
director="" \
deployment="clamav-trusty-rlee-80" \
group="clamav" \
az="z1" \
id="abcdef01-8901-42a5-ad58-8b4c1a2de881"] \
Infected files: 0
</pre>

For more information,
see [Format](https://github.com/cloudfoundry/syslog-release#format) in the syslog-release GitHub repository.
