---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic contains release notes for ClamAV Add-on for PCF.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="1-4-46"></a> v1.4.46

**Release Date:** August 30, 2019

New features and changes in this release:

* The bundled ClamAV open source distribution is now v0.101.4.

### Security Fixes

This release includes the following security fixes:

* Critical [CVE-2019-12900](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-12900):
  BZ2_decompress in decompress.c in bzip2 through 1.0.6 has an out-of-bounds
  write when there are many selectors.
* ClamAV v0.101.4 introduces a scan time limit.
  This limit now resolves ClamAV's "zip bomb" vulnerability.

For the ClamAV v0.101.4 release notes, see the [ClamAV blog](https://blog.clamav.net/2019/08/clamav-01014-security-patch-release-has.html).

### Known Issue:

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-45"></a> v1.4.45

**Release Date:** August 14, 2019

### Features

New features and changes in this release:

* The bundled ClamAV open source distribution is now v0.101.3.

### Security Fixes

This release includes the following security fix:

* High [CVE-2019-13232](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-13232):
  Info-ZIP UnZip 6.0 mishandles the overlapping of files inside a ZIP container,
  leading to denial of service (resource consumption), aka a "better zip bomb" issue.

For the ClamAV v0.101.3 release notes, see the [ClamAV blog](https://blog.clamav.net/2019/08/clamav-01013-security-patch-release-and.html).

### Known Issue:

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-39"></a>v1.4.39

**Release Date:** December 10, 2018

### Features

New features and changes in this release:

* The following information about scans is written to `/var/vcap/sys/log/clamav/clamdscan.log`
  * When a scan starts, a "Starting scheduled scan" message is output to the file.
  * When a scan ends, a "Scan Summary" message is output to the file.

For more information, see [Monitoring ClamAV Logs](./monitoring-logs.html).

### Known Issue:

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>


## <a id="1-4-38"></a>v1.4.38

**Release Date:** October 29, 2018

### Features

New features and changes in this release:

* The bundled ClamAV open source distribution is now v0.100.2.

### Security Fixes

This release includes the following security fixes:

* [CVE-2018-15378](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-15378):
  A vulnerability in ClamAV's MEW unpacking feature in v0.100.1 and earlier
  could allow a denial-of-service (DoS) condition.

* [CVE-2018-14680](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14680):
  An issue in mspack/chmd.c in libmspack before 0.7alpha prevented it rejecting blank CHM filenames.

* [CVE-2018-14681](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14681):
  Bad KWAJ file header extensions could cause a one- or two-byte overwrite.

* [CVE-2018-14682](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14682):
  An off-by-one error in the TOLOWER() macro for CHM decompression.
  Additionally, v0.100.2 reverted v0.100.1's patch for [CVE-2018-14679](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-14679)
  and applied this newer fix instead.

For the ClamAV v0.100.2 release notes, see the [ClamAV blog](https://blog.clamav.net/2018/10/clamav-01002-has-been-released.html).

### Known Issue:

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-36"></a>v1.4.36

**Release Date:** October 12, 2018

### Features

New feature in this release:

* The ability to whitelist signature names. For more information, see [Whitelist False Positives](./install.html#setup-whitelist).

### Known Issue:

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-34"></a>v1.4.34

**Release Date:** September 4, 2018

### Features

New feature in this release:

* The ability to specify a schedule for scan start times for daily scans

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-29"></a>v1.4.29

**Release Date:** July 30, 2018

### Features

Changes in this release:

* The bundled ClamAV open source distribution is now v0.100.1.

### Security Fixes

This release includes the following security fixes:

+ [CVE-2017-16932](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-16932):
  parser.c in libxml2 before 2.9.5 does not prevent infinite recursion in parameter entities.
+ [CVE-2018-0360](https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=CVE-2018-0360):
  ClamAV before 0.100.1 has an HWP integer overflow with a resultant infinite loop through a crafted Hangul Word Processor file.
+ [CVE-2018-0361](https://cve.mitre.org/cgi-bin/cvekey.cgi?keyword=CVE-2018-0361):
  ClamAV before 0.100.1 lacks a PDF object length check, resulting in an unreasonably long time to parse a relatively small file.

For the ClamAV v0.100.1 release notes, see the [ClamAV blog](https://blog.clamav.net/2018/07/clamav-01001-has-been-released.html).

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-28"></a>v1.4.28

**Release Date:** June 28, 2018

###Features

New features and changes in this release:

* Upgraded the bundled ClamAV open source distribution to v0.100.
* Added support for Canonical Ubuntu 16.04 (Xenial) stemcells.
* Removed developer acceptance tests from the bosh release package.
* Added support for cgroup configuration of hard CPU limit.

### Resolved Issues

This release has the following fix:

* Fixed an issue with the shell script interpreter directive ("shebang") that was specified in the job template for scheduled-scan.
  Previous releases used the interpreter directive  `/bin/sh`, which prevented proper cgroup restriction.
  This has been corrected to `/bin/bash`.

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-5"></a>v1.4.5

**Release Date:** March 26, 2018

### Features

New features and changes in this release:

* Upgrades the bundled ClamAV open source distribution to v0.99.4

### Security Fixes

This release includes the following security fixes:
<ul>
<li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-6706">CVE-2012-6706</a></li>
<li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-6419">CVE-2017-6419</a></li>
<li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-11423">CVE-2017-11423</a></li>
<li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1000085">CVE-2018-1000085</a></li>
<li><a href="https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-0202">CVE-2018-0202</a></li>
</ul>

**Compatibility fixes**
	<ul>
		<li>GCC 6</li>
		<li>C++11</li>
	</ul>

* Updates golang to v1.10 for Linux builds

### Known Issue

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="1-4-1"></a>v1.4.1

**Release Date:** February 5, 2018

### Features

New features and changes in this release:

* Upgrades the bundled ClamAV open source distribution to v0.99.3.

### Security Fixes

This release includes the following security fixes:

  * [CVE-2017-12374](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-12374)
  * [CVE-2017-12375](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-12375)
  * [CVE-2017-12376](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-12376)
  * [CVE-2017-12377](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-12377)
  * [CVE-2017-12378](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-12378)
  * [CVE-2017-12379](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-12379)
  * [CVE-2017-12380](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-12380)

### Known Issues

This release has the following issue:

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## View Release Notes for Another Version

To view the release notes for another product version, select the version from
the dropdown at the top of this page.
