---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i>ClamAV Add-on for PCF</i> to <i>Pivotal Anti-Virus</i>.
</p>

<p class="note"><strong>Note:</strong> Pivotal has renamed <i>Pivotal Cloud Foundry</i> to <i>Pivotal Platform</i>.
</p>

This topic contains release notes for <%= vars.product_full %>.

## <a id="2-1-6"></a> v2.1.6

**Release Date: November XX, 2019**

### Features

New features and changes in this release:

* The minimum memory for the <%= vars.product_full_mirror %> host is set to 1.5&nbsp;GB instead of 1&nbsp;GB.
* Adds TLS support for Custom Mirrors

### Resolved Issues

This release fixes the following issues:

* <%= vars.product_short_mirror %> deployments no longer fail in air-gapped environments.
* The clamd app no longer forwards duplicate logs.  

### Known Issues

There are no known issues for this release.

## <a id="2-1-3"></a> v2.1.3

**Release Date: October 23, 2019**

### Features

New features and changes in this release:

* Adds mutual TLS from <%= vars.product_short_mirror %> to the <%= vars.product_short %> hosts.
<br>For more information, see [Changing the Port Used by Pivotal Anti-Virus Mirror and Pivotal Anti-Virus](./changing-ports.html).
* Adds support for excluding instance groups.
<br>For more information,
    see the [List of instance group names that will be excluded from deployment](./install.html#configure) field.
* Updates golang dependency to v1.13.1 for both Linux and Windows

### Known Issues

This release has the following known issue:

* <%= vars.product_short_mirror %> deployment fails in air-gapped environments.
  This is due to a change in Go build default settings attempting to download dependencies,
  instead of using the bundled dependencies.

<%= partial vars.path_to_partials + "/antivirus/duplicate-logs-ki" %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
