---
title: Release Notes
owner: MAPBU Cryogenics (originally owned by Platform Security & Compliance Team)
---
<strong><%= modified_date %></strong>

This topic contains release notes for <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id='releases'></a> Releases
### <a id='2-3-5'></a> v2.3.5

**Release Date**: August 27, 2021

#### Maintenance Changes

* Add 2.7 upgrade tests. Add daily trigger
* Add autobump jobs to ci
* Add correct exit code to run-antivirus-scan process
* Add dependabot scanning for go-clam-tls
* Add github checks for PR flow
* Add package information for golang vendored package
* Add script for autobumping clamav
* Add script to autobump clamav windows
* Add update s3 bucket to AV pipeline
* Allow PRs from dependabot to auto merge
* Amend URL to match correct case for clamav windows
* Amend name of pcre2 package in update script
* Amend script to work with clamav semver
* Amend time resource to work correctly
* Autobump pcre2
* Bump go dependencies for go-clam-tls
* Bump pcre2 blob to 10.37
* Bump to latest go 1.16
* Merge branch 'master' into golang-vendor-update
* Merge pull request #93 from pivotal-cf/dev
* Merge pull request #94 from pivotal-cf/add-github-checks
* Merge pull request #98 from pivotal-cf/golang-vendor-update
* Merge remote-tracking branch 'local-master/master' into HEAD
* Remove redundant pci-infrastructure resource from pipeline
* Remove testfile
* Remove whitespace from regex
* Revert "Add correct exit code to run-antivirus-scan process"
* Test commit for PR
* Tidy up AV pipeline tasks
* Update vendored package golang-1-linux




## <a id="2-3-2"></a> v2.3.2

**Release Date: July 15, 2021**

<p class="note">
  <strong>Note: </strong>BOSH deployment fails if the minimum recommended VM size is not met.
  Ensure all VMs where <%= vars.product_short %> is installed have at least 2&nbsp;GB free RAM and 2&nbsp;CPU.
  On Google Cloud Platform (GCP), the recommended minimum VM size is <code>micro.cpu</code> using 2&nbsp;CPU and 2&nbsp;GB RAM.
</p>

### Features
Changes in this release:

* **ClamAV release:** Updated to v0.103.3
* **Changes to On-Access scanning:** On-Access scanning now runs as a separate process named `clamonacc`.
For information about clamonacc, see [clamonacc App](./monitoring-logs.html#clamonacc-app).

### Known issues

This release has the following issues:

<%= partial vars.path_to_partials + "/antivirus/bbr-ki" %>


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from dropdown at the top of
this page.
