---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<%= partial '../../antivirus/partials/branding-change' %>
<%= partial '../../antivirus/partials/pcf-name-change' %>

This topic contains release notes for <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="2-3-0"></a> v2.3.0

**Release Date: MONTH X, 2020**

### Features

New features and changes in this release:

  *

  *

### Resolved Issues

This release has the following fix:

*

### Known Issues

This release has the following issues:

* If you use <%= vars.product_short_mirror %>,
 errors can occur when restoring your deployment with BOSH Backup and Restore (BBR).
 For instructions for resolving this issue,
see [Restoring with BOSH Backup and Restore Fails](./troubleshooting.html#backup-restore).
For information about BBR,
see [Backing Up and Restoring Pivotal Platform](https://docs.pivotal.io/platform/customizing/backup-restore/index.html).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
