---
title: Anti-Virus for VMware Tanzu Release Notes
owner: MAPBU Cryogenics (originally owned by Platform Security & Compliance Team)
---
<strong><%= modified_date %></strong>

This topic describes the changes in this minor release of <%= vars.product_full %>.

For product versions and upgrade paths, see [Upgrade Planner](https://upgrade-planner.pivotal.io/).

## Releases
### <a id='2-3-39'></a> v2.3.39

**Release Date**: July 2, 2023

#### Anti-Virus

##### Maintenance Changes
* Final release 2.3.39

#### Anti-Virus Mirror

##### Maintenance Changes
* Final release 2.3.39




### <a id='2-3-38'></a> v2.3.38

**Release Date**: June 26, 2023

#### Anti-Virus

##### Maintenance Changes

* **Golang:** Updated to v1.20.4.

#### Anti-Virus Mirror

##### Maintenance Changes

* **Golang:** Updated to v1.20.4.
* **golang.org/x/sys** Updated from v0.8.0 to v0.9.0.

### <a id='2-3-37'></a> v2.3.37

**Release Date**: June 2, 2023


#### Anti-Virus Mirror

##### Maintenance Changes

* Fixes an issue introduced in 2.3.35 in which Freshclam fails to start on an Anti-Virus Mirror deployment when Anti-Virus is also deployed.

### <a id='2-3-35'></a> v2.3.35

**Release Date**: May 18, 2023

#### Resolved Issues

This release has the following fix:

* **Reverts regression to require Xenial Stemcell for <%= vars.product_short_mirror %>:**
  Release v2.3.34 removed the required dependency on Jammy Stemcell.
  This erroneously regressed Anti-Virus Mirror to require Xenial Stemcell.
  This release reverts that change. Jammy Stemcell is now a required dependency again.

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To fix this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html.md.erb#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.


### <a id='2-3-34'></a> v2.3.34 - Withdrawn

**Release Date**: May 16, 2023

**This release has been removed from Tanzu Network** because its removal of the requirement for
dependency on Jammy Stemcell regresses Anti-Virus Mirror to require Xenial Stemcell.
This issue is fixed in v2.3.35.

#### Corrections to the documentation

* The release notes for v2.3.31 erroneously claimed golang was updated to v1.20.2.
* The documentation has been updated to remove references to the URL `pivotal-anti-virus-mirror.s3.amazonaws.com`, which was only intended to serve as an example.
VMware doesn't provide any guarantees around the availability of this URL and deployments must not depend on it.

#### Anti-Virus

##### Dependencies

Dependencies updated in this release:

* **ClamAV:** Updated from v0.103.8 to v1.0.1
* **clamav-windows:** Updated from v0.103.8 to v1.0.1
* **Golang:** Updated to v1.20.4

#### Anti-Virus Mirror

##### Maintenance Changes

Changes in this release:

* Removed required dependency on Jammy Stemcell.

##### Dependencies

Dependency updated in this release:

* **Golang:** Updated to v1.20.4

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To fix this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html.md.erb#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.

### <a id='2-3-31'></a> v2.3.31

**Release Date**: April 25, 2023

#### Maintenance Changes

Maintenance changes in this release:

* Changes to how <%= vars.product_short %> is tested.

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To fix this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html.md.erb#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.

### <a id='2-3-30'></a> v2.3.30

**Release Date**: April 5, 2023

#### Anti-Virus

##### Maintenance Changes

Changes in this release:

- Increased the default memory for the Anti-Virus tile configuration from 1.5&nbsp;GB to 4&nbsp;GB.
- Ensured that the tile configuration reserves a minimum of 3&nbsp;GB of memory for AV to prevent the
  `clamav` process crashing. 4&nbsp;GB is recommended.

### <a id='2-3-29'></a> v2.3.29

**Release Date**: February 22, 2023

#### Anti-Virus

##### Security Fix

This release updates `clamav` to address
[CVE-2023-20032](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-20032) and
[CVE-2023-20052](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2023-20052).

##### Dependencies

Dependencies updated in this release:

* **ClamAV:** Updated from v0.103.7 to v0.103.8
* **clamav-windows:** Updated from v0.103.7-2 to v0.103.8

#### Anti-Virus Mirror

##### Maintenance Changes

Changes in this release:

* Added compatibility with Jammy stemcell.
* Removed support for Xenial stemcells.

##### Dependencies

Dependencies updated in this release:

* **clamav:** Updated from v0.103.7 to v0.103.8

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To resolve this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.


### <a id='2-3-27'></a> v2.3.27

**Release Date**: January 26, 2023

#### Anti-Virus

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.19.4
* **pcre2:** Updated to v10.41

#### Anti-Virus Mirror

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.19.4
* **pcre2:** Updated to v10.41

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To resolve this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.

### <a id='2-3-25'></a> v2.3.25

**Release Date**: January 6, 2023

#### Anti-Virus

##### Dependencies

Dependencies updated in this release:

* **clamav-windows:** Updated from v0.103.7 to v0.103.7-2

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To resolve this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.

### <a id='2-3-23'></a> v2.3.23

**Release Date**: November 22, 2022

#### Anti-Virus

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.19.3

#### Anti-Virus Mirror

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.19.3

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To resolve this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.

### <a id='2-3-19'></a> v2.3.19

**Release Date**: October 5, 2022

#### Anti-Virus

##### Maintenance Changes

Changes in this release:

* Added compatibility with Jammy stemcell.
* Removed support for Trusty stemcell.

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.19.1
* **clamav:** Updated from v0.103.6 to v0.103.7
* **clamav-windows:** Updated from v0.103.6 to v0.103.7

#### Anti-Virus Mirror

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.19.1
* **clamav:** Updated from v0.103.6 to v0.103.7

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To resolve this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.

### <a id='2-3-17'></a> v2.3.17

**Release Date**: August 26, 2022

#### Anti-Virus

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.18.4

#### Anti-Virus Mirror

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.18.4

#### Known Issues

This release has the following issue:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To resolve this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.


### <a id='2-3-15'></a> v2.3.15

**Release Date**: July 12, 2022

#### Anti-Virus

##### Maintenance Changes

Change in this release:

* Fixed an issue that prevented the `clamonacc` process from starting before the `clamd` process is
fully started and the socket is available.

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.18.3

#### Anti-Virus Mirror

##### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.18.3

#### Known Issues

This release has the following issues:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  To resolve this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see
  [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html)
  in the Ops Manager documentation.

* **Tile and BOSH release version misalignment:**
  The delivery pipelines were reworked and, as a side effect, the tile version (v2.3.15) differs from
  the BOSH release version (v2.3.16). This is confusing, but the code is proven through testing to
  work. A fix is planned for a future release.

### <a id='2-3-14'></a> v2.3.14

**Release Date:** June 14, 2022

#### Dependencies

Dependencies updated in this release:

* **clamav:** Updated from v0.103.5 to v0.103.6
* **clamav-windows:** Updated from v0.103.5 to v0.103.6
* **Golang:** Updated to v1.18.2
* **pcre2:** Updated from v10.37 to v10.40

#### Known Issues

This release has the following issues:

* **<%= vars.product_short_mirror %> errors when restoring your deployment with BBR:**
  If you use <%= vars.product_short_mirror %>, errors can occur when restoring your deployment with
  BOSH Backup and Restore (BBR).
  For instructions for resolving this issue, see [Restoring with BOSH Backup and Restore Fails](troubleshooting.html#backup-restore).
  For more information about BBR, see [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html) in the Ops Manager documentation.

### <a id='2-3-13'></a> v2.3.13

**Release Date: March 25, 2022**

#### Maintenance Changes

Changes in this release:

* Fix memory leak in antivirus-windows powershell

#### Dependencies

Dependencies updated in this release:

* **Golang:** Updated to v1.17.8
* **clamav:** Updated from v0.103.3 to v0.103.5
* **clamav-windows:** Updated from v0.103.3 to v0.103.5

#### Known Issues

This release has the following issues:

* **If you use <%= vars.product_short_mirror %>,
 errors can occur when restoring your deployment with BOSH Backup and Restore (BBR):**
 For instructions for resolving this issue,
see [Restoring with BOSH Backup and Restore Fails](./troubleshooting.html#backup-restore).
For information about BBR,
see [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html) in the Ops Manager documentation.

### <a id="2-3-10"></a> v2.3.10

**Release Date: September 9, 2021**

<p class="note">
  <strong>Note: </strong>BOSH deployment fails if the minimum recommended VM size is not met.
  Ensure that all VMs where <%= vars.product_short %> is installed have at least 2&nbsp;GB free RAM and 2&nbsp;CPU.
  On Google Cloud Platform (GCP), the recommended minimum VM size is <code>micro.cpu</code> using 2&nbsp;CPU and 2&nbsp;GB RAM.
</p>

#### Maintenance Changes

Changes in this release:

* **PCRE2:** Updated to v10.37
* **Golang:** Updated to v1.16.7

#### Known Issues

This release has the following issues:

* **If you use <%= vars.product_short_mirror %>,
 errors can occur when restoring your deployment with BOSH Backup and Restore (BBR):**
 For instructions for resolving this issue,
see [Restoring with BOSH Backup and Restore Fails](./troubleshooting.html#backup-restore).
For information about BBR,
see [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html) in the Ops Manager documentation.

### <a id="2-3-2"></a> v2.3.2

**Release Date: July 15, 2021**

<p class="note">
  <strong>Note: </strong>BOSH deployment fails if the minimum recommended VM size is not met.
  Ensure that all VMs where <%= vars.product_short %> is installed have at least 2&nbsp;GB free RAM and 2&nbsp;CPU.
  On Google Cloud Platform (GCP), the recommended minimum VM size is <code>micro.cpu</code> using 2&nbsp;CPU and 2&nbsp;GB RAM.
</p>

#### Features

Changes in this release:

* **ClamAV release:** Updated to v0.103.3
* **Changes to On-Access scanning:** On-Access scanning now runs as a separate process named `clamonacc`.
For information about clamonacc, see [clamonacc App](./monitoring-logs.html#clamonacc-app).

#### Known Issues

This release has the following issues:

* **If you use <%= vars.product_short_mirror %>,
 errors can occur when restoring your deployment with BOSH Backup and Restore (BBR):**
 For instructions for resolving this issue,
see [Restoring with BOSH Backup and Restore Fails](./troubleshooting.html#backup-restore).
For information about BBR,
see [Backing Up and Restoring Deployments](https://docs.pivotal.io/ops-manager/install/backup-restore/index.html) in the Ops Manager documentation.

### <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from dropdown at the top of
this page.
