---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<%= partial '../../antivirus/partials/branding-change' %>
<%= partial '../../antivirus/partials/pcf-name-change' %>

<%= partial vars.path_to_partial + "/upgrade-planner" %>

This topic contains release notes for <%= vars.product_full %>.

## <a id="2-3-0"></a> v2.3.0

**Release Date: MONTH X, 2020**

### Features

New features and changes in this release:

  * 

  *

### Resolved Issues

This release has the following fix:

*

### Known Issues

There are no known issues for this release.


## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
