---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

<%= partial '../../antivirus/partials/branding-change' %>
<%= partial '../../antivirus/partials/pcf-name-change' %>

This topic contains release notes for <%= vars.product_full %>.

<%= partial vars.path_to_partials + "/upgrade-planner" %>

## <a id="2-2-2"></a> v2.2.2

**Release Date: January 6, 2020**

### Features

New features and changes in this release:

  * **CPU limit** for <%= vars.product_short %> is now configured independently of the **Enforce CPU limit** field.
  When you upgrade to v2.2 from v2.1, the value of **CPU limit** is reset to
  the installation default of 50%.<br>
  For instructions on setting the **CPU limit**, see [Configure Anti-Virus](./install.html#configure).

  * **Timeout to connect to the database server (in seconds)** is now configurable. This field sets
  the timeout for downloading virus definitions from the mirror server.
  For instructions on setting the **Timeout to connect to the database server (in seconds)**, see [Configure Anti-Virus](./install.html#configure).

### Resolved Issues

This release has the following fix:

* <%= vars.product_short_mirror %> no longer outputs a TLS handshake error log
when the process is not failing.

### Known Issues

This release has the following issues:

* If you use <%= vars.product_short_mirror %>,
 errors can occur when restoring your deployment with BOSH Backup and Restore (BBR).
 For instructions for resolving this issue,
see [Restoring with BOSH Backup and Restore Fails](./troubleshooting.html#backup-restore).
For information about BBR,
see [Backing Up and Restoring Pivotal Platform](https://docs.pivotal.io/platform/customizing/backup-restore/index.html).

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
