---
title: Release Notes
owner: Security Engineering
---

<strong><%= modified_date %></strong>

**Note**: Pivotal Anti-Virus replaces an earlier product named ClamAV Add-on for Pivotal Cloud
Foundry (PCF). To learn how Pivotal Anti-Virus differs from ClamAV Add-on for PCF, see the feature
list in [Release Notes](release-notes.html).

This topic contains release notes for <%= vars.product_full %>.

For product versions and upgrade paths, see [Upgrade Planner](https://upgrade-planner.pivotal.io/).

## <a id="2-1-6"></a> v2.1.6

**Release Date: November 7, 2019**

### Features

New features and changes in this release:

* The minimum RAM for the Pivotal Anti-Virus Mirror VM is set to 1.5&nbsp;GB instead of 1&nbsp;GB.
* Adds TLS support for custom mirrors.
For more information, see [Configure Anti-Virus](./install.html#configure).

### Resolved Issues

This release fixes the following issues:

* Anti-Virus Mirror deployments no longer fail in air-gapped environments.
* The clamd app no longer forwards duplicate logs.

### Known Issues

This release has the following known issue:

<%= partial "/tls-handshake-ki" %>
<%= partial "/bbr-ki" %>

## <a id="2-1-3"></a> v2.1.3

**Release Date: October 23, 2019**

### Features

New features and changes in this release:

* Adds mutual TLS from Anti-Virus Mirror to the <%= vars.product_short %> hosts.
<br>For more information, see [Changing the Port Used by <%= vars.product_short %> and Anti-Virus Mirror](./changing-ports.html).
* Adds support for excluding instance groups.
<br>For more information,
    see the [List of instance group names that will be excluded from deployment](./install.html#configure) field.
* Updates golang dependency to v1.13.1 for both Linux and Windows

### Known Issues

This release has the following known issues:

<%= partial "/tls-handshake-ki" %>
* Anti-Virus Mirror deployment fails in air-gapped environments.
  This is due to a change in Go build default settings attempting to download dependencies,
  instead of using the bundled dependencies.

<%= partial "/duplicate-logs-ki" %>
<%= partial "/bbr-ki" %>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
