---
title: Updating Virus Definitions on an Anti-Virus Mirror
owner: Platform Security & Compliance Team
---
<strong><%= modified_date %></strong>

You can update virus definitions on an <%= vars.product_full %> mirror
that is deployed by the <%= vars.product_full_mirror %> tile.

The <%= vars.product_full_mirror %> tile and the <%= vars.product_full %>
tile work together as follows:

  - The <%= vars.product_full %> tile runs <%= vars.product_short %> on all BOSH VMs
  by adding it to the BOSH runtime config.
  - The <%= vars.product_full_mirror %> tile
  creates an internal mirror that is used by the ClamAV components running on BOSH VMs.

The ClamAV community regularly updates virus definitions and publishes them to
an external ClamAV database.

How these updated virus definitions propagate to the internal
<%= vars.product_short_mirror %> that
BOSH VMs use depends on whether your environment
is running in an online or air-gapped network:

* **[Online Network](#automatic)**: The <%= vars.product_short_mirror %> updates its virus definitions automatically.
* **[Air-gapped Network](#manual)**: An operator must manually download new virus definitions
and run `bosh scp` to update them on the internal <%= vars.product_short %> mirror.

For more information and diagrams about this architecture,
see [How virus definitions propagate to VMs](./index.html#propagate).

The following sections describe both of these scenarios
and explain how to manually update virus definitions on the internal <%= vars.product_short %>
mirror.

## <a id="check-logs"></a> Verify That Your Virus Definitions Are Up-To-Date

To confirm that virus definitions are up to date on a given VM:

1. BOSH SSH on to the VM.
1. View the `go-clam-tls` logs located at `/var/vcap/sys/log/antivirus/go-clam-tls.log`.
For more information, see [go-clam-tls Log Messages](./monitoring-logs.html#go-clam-tls).


##<a id="automatic"></a>Automatic Updates with Online Networks

When your environment runs on an online network,
the <%= vars.product_short_mirror %> VM regularly checks the external ClamAV database every two hours.

When new virus definitions are present on the external database,
<%= vars.product_short_mirror %> downloads them automatically.


##<a id="manual"></a>Manually Update on an Air-Gapped Network

<%= vars.product_short %> jobs use three virus definitions files, `main.cvd`, `daily.cvd`, and `bytecode.cvd`.
The internal <%= vars.product_short_mirror %> serves these three files to all
<%= vars.product_short %> jobs in your environment.

To update the virus definitions:

1. Download the three virus definition files from the ClamAV virus
database mirror or an equivalent external mirror.
You can access the ClamAV mirror at the following URLs:
    * https://database.clamav.net/main.cvd
    * https://database.clamav.net/daily.cvd
    * https://database.clamav.net/bytecode.cvd

    If you are unable to download the virus definitions from one of the links above,
    use the [cvdupdate](https://github.com/Cisco-Talos/cvdupdate) tool.
    For information about cvdupdate,
    see the [ClamAV documentation](https://docs.clamav.net/appendix/CvdPrivateMirror.html#3-serve-cvd-and-cdiff-files-from-a-local-web-server).

1. Copy your downloaded virus definition files to your Ops Manager VM.

    ```
    scp -i PATH-TO-PRIVATE-KEY PATH-TO-CVD-FILE ... ubuntu@OPS-MANAGER-VM-IP:
    ```

    For example:

    <pre class="terminal">$ scp -i ~/.ssh/my-key.pem ~/Downloads/main.cvd ~/Downloads/daily.cvd ~/Downloads/bytecode.cvd ubuntu<span>@</span>192.168.0.2: </pre>

1. SSH into the Ops Manager VM.
   For instructions, see [Log in to the Tanzu Operations Manager VM with SSH](https://docs.vmware.com/en/VMware-Tanzu-Operations-Manager/3.0/vmware-tanzu-ops-manager/install-trouble-advanced.html#ssh) in the Tanzu Operations Manager
documentation.

1. Find the name of your <%= vars.product_short_mirror %> deployment by running:

    ```
    bosh -e BOSH-ENVIRONMENT deployments | grep p-antivirus-mirror | cut -f1
    ```

    For example:

    <pre class="terminal">$ bosh -e my-env deployments | grep p-antivirus-mirror | cut -f1</pre>

    The deployment name starts with `p-antivirus-mirror-` and is followed by a string of characters.
    For example:

    <pre class="terminal">$ p-antivirus-mirror-08815ca5ead252c4b8d8</pre>

1. Copy the virus definitions to your internal <%= vars.product_short_mirror %>
  by running:

    ```
    bosh -e BOSH-ENVIRONMENT -d ANTIVIRUS-DEPLOYMENT-NAME scp /path/to/local/main.cvd /path/to/local/daily.cvd /path/to/local/bytecode.cvd :/var/vcap/data/antivirus-mirror/unvalidated
    ```

    For example:

    <pre class="terminal">$ bosh -e my-env -d p-antivirus-mirror-4cb8cfbeee717258d72e scp main.cvd daily.cvd bytecode.cvd :/var/vcap/data/antivirus-mirror/unvalidated</pre>

    <p class="note">
      <span class="note__title">Note</span> If the CVD files being uploaded are too big, <code>clamd</code> might start
      consuming them before the upload has finished.
      If this happens, you might receive log messages saying one of the CVD files could not be loaded.
      To workaround this issue, you can upload the CVD files to a temporary folder on the VM first,
      and after the upload is finished, move the files to <code>/var/vcap/data/antivirus-mirror/unvalidated</code>.
    </p>

2. Verify that the mirror validated and updated its local copies of the virus
    definitions by running:

    ```
    bosh -e BOSH-ENVIRONMENT -d ANTIVIRUS-DEPLOYMENT-NAME ssh -c "sudo cat FILE | grep \"updated /var/vcap/store\""
    ```

    Where `FILE` is determined by the output destination configured in
    **Anti-Virus Mirror Configuration** of the <%= vars.product_full_mirror %> tile.
    Use one of the following:

      * `/var/vcap/sys/log/antivirus-mirror/antivirus-mirror.stdout.log` for stdout
      * `/var/vcap/sys/log/antivirus-mirror/antivirus-mirror.stderr.log` for stderr
      * `/var/log/syslog` for syslog

    For example:
    <pre class="terminal">
    $ bosh -e my-env -d p-antivirus-mirror-4cb8cfbeee717258d72e ssh -c "sudo cat /var/log/syslog | grep \"updated /var/vcap/store\""

    2019/05/30 17:16:34 updated /var/vcap/store/antivirus-mirror/validated/bytecode.cvd
    2019/05/30 17:16:40 updated /var/vcap/store/antivirus-mirror/validated/daily.cvd
    2019/05/30 17:16:49 updated /var/vcap/store/antivirus-mirror/validated/main.cvd
    </pre>
