---
title: Upgrading Pivotal Anti-Virus
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade <%= vars.product_full %> (formerly known as ClamAV Add-on for PCF).

##<a id="assume"></a>Compatibility and Prerequisites

See the following topics to ensure you have the required component versions and prerequisites:

* [Product Snapshot](./index.html#snapshot)
* [Prerequisites](./install.html#prereqs)

##<a id="upgrade-v1-v2"></a>Replace ClamAV Add-on for PCF v1.x with <%= vars.product_full %> v2.x

To uninstall ClamAV Add-on for PCF v1.x and install <%= vars.product_full %> v2.x in its place:

1. Retrieve the latest runtime config YML by running the following command:
  <pre>
    bosh -e ENVIRONMENT runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where:
    * `ENVIRONMENT` is your environment
    * `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location where you want to save the runtime configuration.

    For example:
    <pre class="terminal">
      $ bosh -e my-env runtime-config > /runtime/config/
    </pre>

1. In the runtime config YML, remove all ClamAV properties under the `releases:` and `addons:` sections.

1. Update the runtime config.
  <pre>
    bosh -e ENVIRONMENT update-runtime-config --name=clamav PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where:
    * `ENVIRONMENT` is your environment
    * `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location of the runtime configuration you are updating.

    For example:
    <pre class="terminal">
      $ bosh -e my-env update-runtime-config --name=clamav /runtime/config/
    </pre>

1. To set up the <%= vars.product_full %> tile, follow the instructions in
[Installing and Configuring <%= vars.product_full %>](./install.html).

<%# Un-comment the below once a new 2.x version is released
####<a id="upgrade"></a>Upgrade <%= vars.product_full % v2.x or Later

To upgrade <%= vars.product_full % v2.x to a later version:

1. Download the latest version of the product
   from the [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon) to your local machine.

1. Upload the new `.pivotal` files to Ops Manager.

1. If required, upload the stemcell associated with the update.

1. If you use <%= vars.ops_manager_full %> v2.3 or later, click **Review Pending Changes**.
   For more information about this <%= vars.ops_manager %> page,
   see [Reviewing Pending Product Changes](https://docs.pivotal.io/platform/customizing/review-pending-changes.html).

1. Click **Apply Changes**. %>
