---
title: Upgrading Anti-Virus for VMware Tanzu
owner: Platform Security & Compliance Team
---

<strong><%= modified_date %></strong>

This topic tells you how to upgrade <%= vars.product_full %> (formerly known as ClamAV Add-on for PCF).

For product versions and upgrade paths, see [Upgrade Planner](https://upgrade-planner.pivotal.io/).

##<a id="assume"></a>Compatibility and Prerequisites

See the following topics to ensure you have the required component versions and prerequisites:

* [Product Snapshot](./index.html#snapshot)
* [Prerequisites](./install.html#prereqs)

##<a id="upgrade"></a> Upgrade Considerations for <%= vars.product_full %>

The upgrade instructions vary depending on the version of <%= vars.product_short %>
you are currently using.
See the table below for the new features to consider and the upgrade instructions to use.

<table>
  <col width="25%">
  <col width="75%">
  <tr>
    <th>If you are currently on...</th>
    <th>When upgrading to v2.3...</th>
  </tr>
  <tr>
    <td>v1.x</td>
    <td>Uninstall ClamAV Add-on for PCF v1.x and install Anti-Virus v2.x tile.
      For upgrade instructions, see <a href="#upgrade-v1-v2">Replace <%= vars.product_old %> v1.x with <%= vars.product_full %> v2.x</a> below.</td>
  </tr>
  <tr>
    <td>v2.0</td>
    <td>
      <ul>
        <li>
          Decide whether to use <%= vars.product_short_mirror %> or an existing mirror.
          <%= vars.product_short %> now supports existing mirrors with TLS.
          For more information, see <a href="#use-existing">Using an Existing Mirror</a> below.</li>
        <li>If required, configure the mirror port.
          For more information see <a href="#configure-mirror">Configuring the Mirror Port</a> below.</li>
        <li>You can set <strong>Timeout to connect to the database server (in seconds)</strong>.</li>
        <li>VMware recommends that you reset the value of <strong>CPU limit (Percentage)</strong>.</li>
        <li>
          You must ensure that all VMs you install <%= vars.product_short %> on have at least 2&nbsp;GB free RAM and 2&nbsp;CPU.
          On Google Cloud Platform (GCP), the recommended minimum VM size is <code>micro.cpu</code>.
        </li>
        <li>You must set the field <strong>memory limit (in bytes)</strong> to at least <code>1610612736</code>.</li>
      </ul>
      For upgrade instructions, see <a href="#upgrade-v20-v21">Upgrade <%= vars.product_full %> to This Version from v2.0</a> below.
    </td>
  </tr>
  <tr>
    <td>v2.1</td>
    <td>
      <ul>
        <li>You can set <strong>Timeout to connect to the database server (in seconds)</strong>.</li>
        <li>VMware recommends that you reset the value of <strong>CPU limit (Percentage)</strong>.</li>
        <li>
          You must ensure that all VMs you install <%= vars.product_short %> on have at least 2&nbsp;GB free RAM and 2&nbsp;CPU.
          On Google Cloud Platform (GCP), the recommended minimum VM size is <code>micro.cpu</code>.
        </li>
        <li>You must set the field <strong>memory limit (in bytes)</strong> to at least <code>1610612736</code>.</li>
      </ul>
      For upgrade instructions, see <a href="#upgrade-v21-v22">Upgrade <%= vars.product_full %> to This Version from v2.1 or Later</a> below.
    </td>
  </tr>
  <tr>
    <td>v2.2</td>
    <td>
      <ul>
        <li>
          You must ensure that all VMs you install <%= vars.product_short %> on have at least 2&nbsp;GB free RAM and 2&nbsp;CPU.
          On Google Cloud Platform (GCP), the recommended minimum VM size is <code>micro.cpu</code>.
        </li>
        <li>You must set the field <strong>memory limit (in bytes)</strong> to at least <code>1610612736</code>.</li>
      </ul>
      For upgrade instructions, see <a href="#upgrade-v21-v22">Upgrade <%= vars.product_full %> to This Version from v2.1 or Later</a> below.
    </td>
  </tr>
</table>

##<a id="upgrade-v1-v2"></a>Replace <%= vars.product_old %> v1.x with <%= vars.product_full %> v2.x

To uninstall <%= vars.product_old %> v1.x and install <%= vars.product_full %> v2.x in its place:

1. Retrieve the latest runtime config YML by running:

    ```
    bosh -e ENVIRONMENT runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG
    ```

    Where:

    * `ENVIRONMENT` is your environment
    * `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location where you want to save the runtime configuration.

    For example:
    <pre class="terminal">
    $ bosh -e my-env runtime-config > /runtime/config/
    </pre>

1. In the runtime config YML, remove all ClamAV properties under the `releases:` and `addons:` sections.

1. Update the runtime config:

    ```
    ENVIRONMENT=<insert variable here>
    PATH-TO-SAVE-THE-RUNTIME-CONFIG=<insert variable here>
    bosh -e $ENVIRONMENT update-runtime-config --name=clamav ${PATH-TO-SAVE-THE-RUNTIME-CONFIG}
    ```
    Where:

    * `ENVIRONMENT` is your environment
    * `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location of the runtime configuration you are updating.

    For example:
    <pre class="terminal">
    $ bosh -e my-env update-runtime-config --name=clamav /runtime/config/
    </pre>

1. Follow the instructions in
[Installing and Configuring <%= vars.product_full %>](./install.html)
to set up the <%= vars.product_full %> tile.

##<a id="upgrade-v20-v21"></a> Upgrade <%= vars.product_full %> to This Version from v2.0

Additional configurations might be required when upgrading from v2.0.x.
This is because of the following features introduced in <%= vars.product_short %> v2.1:

* Support for existing mirrors with Transport Layer Security (TLS).
  For more information, see [Using an Existing Mirror](#use-existing) below.
* Ability to configure the **Mirror Port** used by <%= vars.product_short %>.
  For more information see [Configuring the Mirror Port](#configure-mirror) below.

To upgrade <%= vars.product_full %> to v2.3 from v2.0, you must:

1. [Update <%= vars.product_full %>](#update-antivirus)
1. [Complete Configuring <%= vars.product_full %> and Apply Changes](#apply-changes)

###<a id="update-antivirus"></a> Update <%= vars.product_full %>

To update <%= vars.product_full %>:

1. Record the value in the <strong>CPU limit (percentage)</strong> field.

    <p class="note"><strong>Note:</strong>
      Upgrading to this version from v2.1 or earlier restores this field to the default value of 50%.
      All other configuration details are kept when upgrading.
    </p>

1. Download the latest version of <%= vars.product_short %>
   from [<%= vars.product_network %>](https://network.tanzu.vmware.com/products/p-clamav-addon) to your local machine.
1. If you do not want to use an existing mirror, download the latest version <%= vars.product_short_mirror %>
  from [<%= vars.product_network %>](https://network.tanzu.vmware.com/products/p-clamav-addon) to your local machine.

1. Upload the new `.pivotal` files to Ops Manager.

1. If required, upload any stemcells associated with the update.

1. Update any new mandatory configuration parameters.
For information about what to configure for your version, see the table in [Upgrade Considerations for <%= vars.product_full %>](#upgrade) above.

###<a id="apply-changes"></a> Complete Configuring <%= vars.product_full %> and Apply Changes

The instructions to complete your configuration depend on whether:

* You are using <%= vars.product_short_mirror %> and want to continue to using it.
See [Continue Using <%= vars.product_short_mirror %>](#upgrade-antivirus-mirror) below.

* You are using an existing mirror.
See [Continue Using an Existing Mirror](#upgrade-existing-mirror) below.

* You are currently using <%= vars.product_short_mirror %>, but want to switch to an existing mirror instead.
See [Switch to an Existing Mirror](#switch-existing-mirror) below.

####<a id="upgrade-antivirus-mirror"></a> Continue Using <%= vars.product_short_mirror %>

To complete your configuration if you are using <%= vars.product_short_mirror %>:

1. (Optional) To change the ports used by <%= vars.product_short %> and <%= vars.product_short_mirror %>, follow the instructions in
[Changing the Port Used by <%= vars.product_short %> and <%= vars.product_short_mirror %>](./changing-ports.html).

1. If you have not done so as part of a previous step, apply configuration changes for your whole foundation:
  1. Return to the Ops Manager Installation Dashboard and click **Review Pending Changes**.
  1. Select all the products in your foundation and click **Apply Changes**.


####<a id="upgrade-existing-mirror"></a> Continue Using an Existing Mirror

To complete your configuration if you are using an existing mirror:

1. Check that the port used by <%= vars.product_short %> and your mirror are the same.
If they are not, configure the **Mirror Port** used for <%= vars.product_short %>:
  * To change the **Mirror Port** in <%= vars.product_short %> to use
    the port that your existing mirror uses, follow the procedure in
    [Change the Port in the <%= vars.product_short %> Tile](./changing-ports-existing.html#change-antivirus).
  * To change the port on your existing mirror to use the <%= vars.product_short %>
    default of `6501`, do that now.

1. If you have not done so as part of a previous step, apply configuration changes for your whole foundation:
  1. Return to the Ops Manager Installation Dashboard and click **Review Pending Changes**.
  1. Select all the products in your foundation and click **Apply Changes**.

####<a id="switch-existing-mirror"></a> Switch to an Existing Mirror

To complete your configuration if you are currently using <%= vars.product_short_mirror %>, but want to switch
to an existing mirror instead:

1. Follow the instructions in [Changing the Port Used by <%= vars.product_short %> with an Existing Mirror](./changing-ports-existing.html).


##<a id="upgrade-v21-v22"></a>Upgrade <%= vars.product_full %> to This Version from v2.1 or Later

To upgrade <%= vars.product_full %> to v2.3 from v2.1 or later:

1. If you are upgrading from v2.1, record the value in the <strong>CPU limit (percentage)</strong> field.

    <p class="note"><strong>Note:</strong>
      Upgrading to this version from v2.1 or earlier restores this field to the default value of 50%.
      All other configuration details are kept when upgrading.
    </p>
1. Download the latest version of <%= vars.product_short %>
   from [<%= vars.product_network %>](https://network.tanzu.vmware.com/products/p-clamav-addon) to your local machine.

1. If you do not have an existing mirror, download the latest version <%= vars.product_short_mirror %>
  from [<%= vars.product_network %>](https://network.tanzu.vmware.com/products/p-clamav-addon) to your local machine.

1. Upload the new `.pivotal` files to Ops Manager.

1. If required, upload any stemcells associated with the update.

1. Update any new mandatory configuration parameters.
For information about what to configure for the version you are updating to, see the table in [Upgrade Considerations for <%= vars.product_full %>](#upgrade) above.

1. Return to the Ops Manager Installation Dashboard and click **Review Pending Changes**.

3. Ensure all products are selected and click **Apply Changes**.

##<a id="use-existing"></a> Use an Existing Mirror

In v2.1.3, <%= vars.product_short %> only supported TLS when using mutual TLS (mTLS) with <%= vars.product_short_mirror %>.<br>
In v2.1.6 and later, <%= vars.product_short %> permits the use of an existing mirror with TLS.

<p class="note"><strong>Note</strong>: mTLS is not available when using an existing mirror.
The existing mirror serves the database files, which are outside of VMware's control,
and does not require two way authentication with the <%= vars.product_short %> process.
<%= vars.product_short %> only needs to verify that it is communicating with the correct
server by verifying its certificate.
</p>

If you are currently using <%= vars.product_short_mirror %>
and want to use an existing mirror instead,
VMware recommends that you configure <%= vars.product_short %> to use the new mirror before
uninstalling <%= vars.product_short_mirror %>.



##<a id="configure-mirror"></a>Configure the Mirror Port

In v2.0.x, the port used by <%= vars.product_short %> and
<%= vars.product_short_mirror %> was `80` and was not configurable.
In v2.1.x and later, the default port used is `6501` and is now configurable.

**If you are using the <%= vars.product_short_mirror %> with <%= vars.product_short %>,**
do one of the following:

  * To use the default port with <%= vars.product_short %> and
  <%= vars.product_short_mirror %>, then you do not need to make any changes after upgrading.

  * To change the ports used by <%= vars.product_short %> and
  <%= vars.product_short_mirror %>, see [Upgrade <%= vars.product_full %> to This Version from v2.0](#upgrade-v20-v21) above.

**If you are using an existing mirror with <%= vars.product_short %>,**
do one of the following:

  * Configure your existing mirror to use the default `6501` port
  used by <%= vars.product_short %>.
  * Configure <%= vars.product_short %> to use the port used by your existing mirror.
    To do this, see [Upgrade <%= vars.product_full %> to This Version from v2.0](#upgrade-v20-v21) above.
