---
title: Upgrading Pivotal Anti-Virus
owner: Security Engineering
---

<strong><%= modified_date %></strong>

This topic describes how to upgrade <%= vars.product_full %> (formerly known as ClamAV Add-on for PCF).

##<a id="assume"></a>Compatibility and Prerequisites

See the following topics to ensure you have the required component versions and prerequisites:

* [Product Snapshot](./index.html#snapshot)
* [Prerequisites](./install.html#prereqs)

##<a id="upgrade-v1-v2"></a>Replace <%= vars.product_full %> v1.x with v2.x

To uninstall <%= vars.product_full %> v1.x and install v2.x in its place:

1. Retrieve the latest runtime config YML by running the following command:
  <pre>
    bosh -e ENVIRONMENT runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where:
    * `ENVIRONMENT` is your environment
    * `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location where you want to save the runtime configuration.

    For example:
    <pre class="terminal">
      $ bosh -e my-env runtime-config > /runtime/config/
    </pre>

1. In the runtime config YML, remove all ClamAV properties under the `releases:` and `addons:` sections.

1. Update the runtime config.
  <pre>
    bosh -e ENVIRONMENT update-runtime-config --name=clamav PATH-TO-SAVE-THE-RUNTIME-CONFIG
  </pre>

    Where:
    * `ENVIRONMENT` is your environment
    * `PATH-TO-SAVE-THE-RUNTIME-CONFIG` is the location of the runtime configuration you are updating.

    For example:
    <pre class="terminal">
      $ bosh -e my-env update-runtime-config --name=clamav /runtime/config/
    </pre>

1. Follow the instructions in
[Installing and Configuring <%= vars.product_full %>](./install.html)
to set up the <%= vars.product_full %> tile.

##<a id="upgrade-v20-v21"></a>Upgrade <%= vars.product_full %> v2.0.x to v2.1.x or Later

Because of the following features introduced in <%= vars.product_short %> v2.1,
additional configurations might be required when upgrading from v2.0.x:

  * Support for existing mirrors with mutual TLS (mTLS)
  * Ability to configure **Mirror Port** used with <%= vars.product_short %>

###<a id="use-existing"></a>Using Existing Mirrors
In v2.0.x, <%= vars.product_short %> did not support the use of mTLS outside of using <%= vars.product_short_mirror %>.
However in v2.1.x and later, <%= vars.product_short %> allows the use of an existing mirror with mTLS.
If you are currently using <%= vars.product_short_mirror %>,
and want to transition to using an existing mirror,
Pivotal recommends that you uninstall your <%= vars.product_short_mirror %> tile.

###<a id="configure-mirror"></a>Configuring the Mirror Port
Also in v2.0.x, the port used by <%= vars.product_short %> and
<%= vars.product_short_mirror %> was `80`, and was not configurable.
Starting in v2.1.x and later, the default port used is `6501`, and is now configurable.

If you are okay with using this default with <%= vars.product_short %> and
<%= vars.product_short_mirror %>, then no changes need to be made after upgrade.
If you want to change the ports being used by <%= vars.product_short %> and
<%= vars.product_short_mirror %>, see the [Upgrading Procedure](#v20-v21-procedure).

If you are using an existing mirror with <%= vars.product_short %>, then you have two options:

  * Configure your existing mirror to the default port used by <%= vars.product_short %>: `6501`
  * Configure <%= vars.product_short %> to the port used by your existing mirror.
    To do this, see the [Upgrading Procedure](#v20-v21-procedure).

###<a id="v20-v21-procedure"></a>Upgrading Procedure

To upgrade <%= vars.product_full %> v2.0.x to v2.1.x or later:

  1. Download the latest version of <%= vars.product_short %>
     from the [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon) to your local machine.

  1. If you do not have an existing mirror, download the latest version <%= vars.product_short_mirror %>
    from [Pivotal Network](https://network.pivotal.io/products/p-clamav-addon) to your local machine.

  1. Upload the new `.pivotal` files to <%= vars.ops_manager %>.

  1. If required, upload any stemcells associated with the update.

  1. Configure the **Mirror Port** used for <%= vars.product_short %>:
    * If you are using the <%= vars.product_short_mirror %> tile,
        follow the procedure in [Changing the Port Used by <%= vars.product_short %>
        and <%= vars.product_short_mirror %>](./changing-ports.html).
    * If you are using an existing mirror and want to change the **Mirror Port**
        in <%= vars.product_short %>, follow the procedure in
        [Changing the Port Used by <%= vars.product_short %> with an Existing Mirror](./changing-ports-existing.html).
    * If you are using an existing mirror and want to change the
        port to use the <%= vars.product_short %> default of `6501`, do that now.

  1. If you are currently using <%= vars.product_short_mirror %> and want to switch
    to an existing mirror instead, follow the procedure in
    [Changing the Port Used by <%= vars.product_short %> with an Existing Mirror](./changing-ports-existing.html).
